<% include ../includes/header %>
<% include ../includes/navbar %>

<style>

  :focus {
    outline: none;
  }

  .payment-wizard li {
    list-style: none;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
    text-align: center;
  }

  /*= wizard css = */
  .payment-wizard {
    float: left;
    width: 100%;
  }
  .payment-wizard li.active {
    position: relative;
    z-index: 1;
  }

  .wizard-heading {
    float: left;
    width: 100%;
    padding: 10px 15px;
    background-color: #fafafa;
    margin-bottom: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    color: #4c4c4c;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .wizard-content {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 8px #d2d2d2;
            box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  li:first-child .wizard-content {
    display: block;
  }

  .wizard-content p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #4c4c4c;
  }

  .btn-green {
    color: #fff;
    float: right;
    border: 0;
    padding: 7px 10px;
    min-width: 92px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5fba57;
    border-radius: 3px;
    border-bottom: 3px solid #289422;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-green:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #289422;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-green:hover:before {
    height: 100%;
  }

  .wizard-heading span {
    float: right;
    background-image: url(wizard-icons.png);
    background-repeat: no-repeat;
  }

  .icon-user {
    width: 20px;
    height: 18px;
    background-position: 0 -40px;
    margin-top: 4px;
  }

  .icon-location {
    width: 15px;
    height: 20px;
    background-position: -22px -42px;
    margin-top: 4px;
  }

  .icon-summary {
    width: 20px;
    height: 20px;
    background-position: -39px -42px;
    margin-top: 4px;
  }

  .icon-mode {
    width: 20px;
    height: 16px;
    background-position: -61px -34px;
    margin-top: 6px;
  }

  .active .wizard-heading {
    background-color: #447294;
    color: #fff;
    margin-bottom: 0;
  }
  .active .icon-user {
    background-position: 0 0;
  }
  .active .icon-location {
    background-position: -22px 0;
  }
  .active .icon-summary {
    background-position: -39px 0;
  }
  .active .icon-mode {
    background-position: -61px 0;
  }

  .completed .wizard-heading {
    color: #447294;
    position: relative;
    padding: 10px 15px 10px 36px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .completed .wizard-heading:before {
    content: "✓";
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: -7px;
    top: 8px;
    width: 32px;
    padding: 4px 0;
    background-color: #447294;
    z-index: 1;
  }
  .completed .wizard-heading:after {
    content: "";
    position: absolute;
    top: 38px;
    left: -7px;
    border-left: 7px solid transparent;
    border-top: 5px solid #001e34;
  }
  .completed .icon-user {
    background-position: 0 -20px;
  }
  .completed .icon-location {
    background-position: -22px -21px;
  }
  .completed .icon-summary {
    background-position: -39px -21px;
  }
  .completed .icon-mode {
    background-position: -61px -17px;
  }

  /*= wizard end = */

</style>

<div class="content-container">
  <form action="/complete_order" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">

    <ul class="payment-wizard">
        <li class="active">
          <div class="wizard-heading">1. Kulanıcı Bilgileri<span class="icon-user"></span></div>
          <div class="wizard-content">
            <p>
              <ol class="payment-method">

                <li id="user_method_guest"><input name="login_method" id="guest" type="radio" value="guest" class="" required><label for="guest">Misafir olarak</label></li>

                <li id="user_method_login"><input name="login_method" id="login" type="radio" value="login" class="" ><label for="login">Giriş yap</label></li>

                <li id="user_method_register"><input name="login_method" id="register" type="radio" value="register" class=""><label for="register">Kayıt ol</label></li>
              </ol>
          </p>
            <button class="btn-green done" type="submit">Devam</button>
          </div>
        </li>
        <li>
          <div class="wizard-heading">2. Teslimat Bilgileri<span class="icon-location"></span></div>
          <div class="wizard-content">
            <p>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Adınız</label>
                    <input type="text" name="name" class="form-control" required>
                  </div>
                  <div class="col-md-6">
                    <label for="">Soyadınız</label>
                    <input type="text" name="surname" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Telefon numaranız</label>
                    <input type="text" name="mobil" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label for="">E-posta</label>
                    <input type="text" name="email" class="form-control">
                  </div>
                </div>
              </div>

              <legend>Teslimat adresi</legend>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="">İl</label>
                    <select class="browser-default" id="county"  name="county" required>
                      <% county = JSON.parse(county); %>
                      <% county.forEach(function(sehir){ %>
                      <option value="<%= sehir.id %>"><%= sehir.name %></option>
                      <%})%>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="">İlçe</label>
                    <input type="text" name="district" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Adres</label>
                    <input type="text" name="address" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label for="">Posta kodu</label>
                    <input type="number" name="zipcode" class="form-control">
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <label for="">Açıklama</label>
                  <textarea type="text" name="message" class="form-control"></textarea>
              </div>
            </p>

            <button class="btn-green done" type="button">Devam</button>
          </div>
        </li>
        <li>
          <div class="wizard-heading">3. Sipariş Detayı<span class="icon-summary"></span></div>
          <div class="wizard-content">
            <p><div class="box clearfix">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                  <% var total = 0 %>
                  <%if(sesCart) { %>
                  <% sesCart.forEach(function(item){ %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.quantity %></td>
                        <td><%= (item.price * item.quantity).toFixed(2) %> <%- siteSettings.settings_currency %></td>
                    </tr>
                    <% total += item.price * item.quantity %>
                    <% }) %>
                    <% }else{ %>
                    <span class="text-danger">Gösterilecek Ürün Bulunmamakta</span>
                    <% } %>
                </tbody>
            </table>
            <ul class="cart-total-list text-center mb0">
                <li>
                  <span>Ara Toplam : </span><span id="ara_total"><%=total.toFixed(2) %> </span> <%- siteSettings.settings_currency %>
                </li>
                <li>
                  <span>Kargo Ücreti : </span><span id="shipping-price">0 </span> <%- siteSettings.settings_currency %>
                  <input id="shipping-price-post" type="hidden" name="shipping_total" value="0">
                </li>

                <li>
                  <span>Genel Toplam : </span><span><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></span>
                  <input type="hidden" id="ara_genel_total_post" name="grand_total" value="<%= total.toFixed(2) %>">
                </li>
            </ul>
        </div>
      </p>
            <button class="btn-green done" type="button">Devam</button>
          </div>
        </li>
        <li>
          <div class="wizard-heading">4. Ödeme Methodu<span class="icon-mode"></span></div>
          <div class="wizard-content">
            <div class="panel-body">
              <ol class="payment-method">

                  <li><input name="payment_method" id="payment_method_kapida" type="radio" value="method_kapida" class="" required><label for="payment_method_kapida">Kapıda Ödeme - Nakit</label></li>

                  <li><input name="payment_method" id="payment_method_kapida-kk" type="radio" value="method_kapida-kk" class=""><label for="payment_method_kapida-kk">Kapıda Ödeme - Kredi Kart</label></li>

                  <li><input name="payment_method" id="payment_method_bank" type="radio" value="method_bank" class=""><label for="payment_method_bank">Havale - EFT</label></li>
                  <!--
                  <li><input name="payment_method" id="payment_method_card" type="radio" value="method_cart" class=""><label for="payment_method_card">Kredi Kartı</label></li>
                -->
              </ol>
            </div>
            <button class="btn-green" type="submit">Siparişi Tamamla</button>
          </div>
        </li>
      </ul>

    </form>
</div>

<% include ../includes/footer %>
<% include ../includes/end %>
