<% include ../includes/header %>
<% include ../includes/navbar %>
<% if(sesCart){ %>
<div class="content-container">
     <h1 class="page-title">Alışveriş Sepetiniz</h1>
     <form class="cart-form">
     <ol class="cart-item">
<% var total = 0 %>
<% var max   = 0 %>
<% sesCart.forEach(function(item) { %>
<% var limit = item.minimum %>
<% max = Math.max(limit) %>
<% total += item.price * item.quantity %>
         <li id="<%= item.id %>">
             <div class="thumb"><img src="<%= item.img %>" alt="<%= item.name %>"></div>
             <div class="cart-delete"><a href="/remove-from-cart/<%=item.id%>"><i class="fa fa-times"></i></a></div>
             <div class="cart-detail">
                 <h3 class="product-name"><a href="urun/<%= item.slug %>-<%= item.id%>"><%= item.name %></a></h3>
                 <div class="price"><span>Fiyat</span><%=item.price %> <%- siteSettings.settings_currency %></div>
                 <input type="hidden" id="price" value="<%=item.price %>"/>
                 <div class="qty"><span>Adet</span> <input type="number" value="<%=item.quantity %>"></div>
             </div>
         </li>
<% }) %>
         <li class="cart-nav"><a href="#"><i class="fa fa-mail-forward"></i> Alışverişe devam et</a><a href="#"><i class="fa fa-trash"></i> Sepeti temizle</a></li>
     </ol>
     <input type="hidden" id="tot" class="tot" name="tot" value="<%=total.toFixed(2) %>"/>
     <input type="hidden" id="max" class="max" name="max" value="<%=max %>"/>
     </form>
     <div class="cart-action">
         <div class="total"><span class="title">Toplam</span><span class="price" id="totalPrice" value="<%=total.toFixed(2) %>"><%=total.toFixed(2) %></span></div>
         <a href="/checkout_update" id="toCheckout" class="btn orange block">ALIŞVERİŞİ TAMAMLA</a></div>
 </div>

 <% }%>
<% include ../includes/footer %>
<% include ../includes/end %>
