<% include ../includes/header %>
<% include ../includes/navbar %>
<div class="content-container">
    <div class="not-found animated fadeIn">

        <h3>Sipariş Tamamlandı!</h3>
        <p>Siparişiniz başarıyla tarafımıza ulaşmıştır. en kısa sürede kargolanacaktır.</p>
        <a href="/" class="btn blue"><i class="fa fa-home"></i> Ana Sayfa</a></div>
</div>

<% include ../includes/footer %>
<% include ../includes/end %>
