<% include ../includes/header %>

      <!-- END SEARCH AREA -->

      <div class="gap"></div>


      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <aside class="sidebar-left">
                      <ul class="nav nav-pills nav-stacked nav-arrow">
                          <li><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/account')">Profilim</a>
                          </li>
                          <li><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/address')">Adreslerim</a>
                          </li>
                          <li><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/orders')">Sipariş Geçmişi</a>
                          </li>
                          <li><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/password')">Ayarlar</a></li>
                          <li><a href="/logout" >Çıkış Yap</a></li>
                      </ul>
                  </aside>
              </div>
              <div class="col-md-9" id="profile_container">
                  <div class="row">
                      <div class="col-md-6">
                          <form action="/update_user" method="post">
                              <div class="form-group">
                                  <label for="">Adınız</label>
                                  <input type="text" value="<%= customer.name %>" class="form-control">
                              </div>
                              <div class="form-group">
                                  <label for="">Soyadınız</label>
                                  <input type="text" value="<%= customer.surname %>" class="form-control">
                              </div>
                              <div class="form-group">
                                  <label for="">E-posta</label>
                                  <input type="text" value="<%= customer.email %>" class="form-control">
                              </div>
                              <div class="form-group">
                                  <label for="">Telefon</label>
                                  <input type="text" value="<%= customer.mobil %>" class="form-control">
                              </div>
                              <input type="submit" value="Güncelle" class="btn btn-primary">
                          </form>
                      </div>
                  </div>
                  <div class="gap"></div>
              </div>
          </div>

      </div>

<% include ../includes/footer %>
