<form class="search-area form-group">
    <div class="container">
      <div class="col-md-3">
        <img src="themes/4x4/assets/img/banner_1.png" style="width:240px; height:40px;" alt="4X4 LED DÜNYASI" title="4X4 LED DÜNYASI" />
      </div>
      <div class="col-md-3">
        <img src="themes/4x4/assets/img/banner_2.png" style="width:240px; height:40px;" alt="4X4 LED DÜNYASI" title="4X4 LED DÜNYASI" />
      </div>
      <div class="col-md-3">
        <img src="themes/4x4/assets/img/banner_3.png" style="width:240px; height:40px;" alt="4X4 LED DÜNYASI" title="4X4 LED DÜNYASI" />
      </div>
      <div class="col-md-3">
        <img src="themes/4x4/assets/img/banner_4.png" style="width:240px; height:40px;" alt="4X4 LED DÜNYASI" title="4X4 LED DÜNYASI" />
      </div>

    </div>
</form>
