<footer class="main" id="main-footer">
    <div class="footer-top-area">
        <div class="container">
            <div class="row row-wrap">

                <div class="col-md-3">
                    <h4 style="color:#e4c601;">Hesabınız</h4>
                    <ul class="thumb-list">
                        <li> <a href="#" style="color:#fff;"> Hesap Bilgileriniz </a> </li>
                        <li> <a href="#" style="color:#fff;"> Sipariş Takip </a> </li>
                        <li> <a href="/sepet" style="color:#fff;"> Sepetiniz </a> </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 style="color:#e4c601;">Kurumsal</h4>
                    <ul class="thumb-list">
                        <li> <a href="sayfa/hakkimizda  " style="color:#fff;"> Hakkımızda </a> </li>
                        <li> <a href="sayfa/banka-hesaplarimiz" style="color:#fff;"> Banka Hesap Numaralarımız </a> </li>
                        <li> <a href="sayfa/iletisim" style="color:#fff;"> İletişim </a> </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 style="color:#e4c601;">Şartlar</h4>
                    <ul class="thumb-list">
                        <li> <a href="sayfa/mesafeli-satis-sozlesmesi" style="color:#fff;"> Satış Sözleşmesi </a> </li>
                        <li> <a href="#" style="color:#fff;"> Ödeme ve Teslimat </a> </li>
                        <li> <a href="#" style="color:#fff;"> Gizlilik ve Güvenlik </a> </li>
                        <li> <a href="#" style="color:#fff;"> Garanti Şartları </a> </li>
                        <li> <a href="sayfa/sarlar-kosullar" style="color:#fff;"> İade Şartları </a> </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>E-Bültene kaydolun</h4>
                    <div class="box">
                        <form>
                            <div class="form-group mb10">
                                <label>E-posta</label>
                                <input type="text" class="form-control" name="email" placeholder="E-posta adresiniz" />
                            </div>
                            <p class="mb10">İndirim ve Kampanyalarımızdan ilk siz haberdar olun.</p>
                            <input type="submit" class="btn btn-primary" value="Kaydol" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright © 2018, 4X4 LED DÜNYASI, All Rights Reserved</p>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <div class="pull-right">
                        <ul class="list-inline list-payment">
                            <li>
                                <img src="themes/4x4/web/img/payment/american-express-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/cirrus-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/discover-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/ebay-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/maestro-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/mastercard-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                            <li>
                                <img src="themes/4x4/web/img/payment/visa-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="login-dialog" class="modal fade" role="dialog">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form class="dialog-form" method="post" action="/login">
          <div class="modal-body">
            <div class="form-group">
                <label>E-posta</label>
                <input type="text" placeholder="email@domain.com" name="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label>Parola</label>
                <input type="password" placeholder="Parolanız" name="password" class="form-control" required />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Beni hatırla
                </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-primary" >Giriş Yap</button>
          </div>
        </form>
      </div>
    </div>
</div>





<div id="register-dialog" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form class="dialog-form" method="post" action="/register">
        <div class="modal-body">
          <div class="form-group">
              <label>Adınız</label>
              <input type="text" placeholder="Adınız" name="name" class="form-control" required />
          </div>
          <div class="form-group">
              <label>Soyadınız</label>
              <input type="text" placeholder="Soyadınız" name="surname" class="form-control" required />
          </div>
          <div class="form-group">
              <label>Telefon</label>
              <input type="text" placeholder="Telefon numaranız" name="phone" class="form-control" required />
          </div>
          <div class="form-group">
              <label>E-Posta</label>
              <input type="email" placeholder="email@domain.com" name="email" class="form-control" required />
          </div>
          <div class="form-group">
              <label>Parola</label>
              <input type="password" placeholder="Parolanız" name="password" class="form-control" required />
          </div>
          <div class="form-group">
              <label>Parola Tekrar</label>
              <input type="password" placeholder="Parolanızı tekrar giriniz" class="form-control" required />
          </div>

          <div class="checkbox">
              <label>
                  <input type="checkbox">Sözleşmeyi okudum kabul ediyorum
              </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary" >Kayıt Ol</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="icon-retweet dialog-icon"></i>
    <h3>Parola Sıfırla</h3>
    <form class="dialog-form" method="post" action="">
        <label>E-posta</label>
        <input type="text" placeholder="email@domain.com" name="email" class="span12">
        <input type="submit" value="Parolamı Sıfırla" class="btn btn-primary">
    </form>
</div>
<!-- Scripts queries -->
<script src="themes/4x4/web/js/jquery.js"></script>
<script src="themes/4x4/web/js/boostrap.min.js"></script>
<script src="themes/4x4/web/js/countdown.min.js"></script>
<script src="themes/4x4/web/js/flexnav.min.js"></script>
<script src="themes/4x4/web/js/magnific.js"></script>
<script src="themes/4x4/web/js/tweet.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB5jngKbq9s6Ik7raCV7KneO5yv1xr03m8"></script>
<script src="themes/4x4/web/js/fitvids.min.js"></script>
<script src="themes/4x4/web/js/mail.min.js"></script>
<script src="themes/4x4/web/js/ionrangeslider.js"></script>
<script src="themes/4x4/web/js/icheck.js"></script>
<script src="themes/4x4/web/js/fotorama.js"></script>
<script src="themes/4x4/web/js/card-payment.js"></script>
<script src="themes/4x4/web/js/owl-carousel.js"></script>
<script src="themes/4x4/web/js/masonry.js"></script>
<script src="themes/4x4/web/js/nicescroll.js"></script>
<!-- Custom scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script src="themes/4x4/web/js/custom.js"></script>
<script src="themes/4x4/web/js/switcher.js"></script>
<script type="text/javascript" src="smart-wizard/dist/js/jquery.smartWizard.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="themes/4x4/cart.js"></script>
<script src="themes/4x4/shoppingcart.js"></script>
<script src="themes/4x4/address.js"></script>
<script type="text/javascript">
        $(document).ready(function(){

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Sipariş Oluştur')
             .addClass('btn btn-info btn-finish disabled')
             .on('click', function(){
                if( !$(this).hasClass('disabled')){
                    var elmForm = $("#myForm");
                    if(elmForm){
                        elmForm.validator('validate');
                        var elmErr = elmForm.find('.has-error');
                        if(elmErr && elmErr.length > 0){
                            alert('Oops we still have error in the form');
                            return false;
                        }else{
                          $('#myForm').on('submit', function(e){
                          e.preventDefault();
                          $.ajax({
                             type: "POST",
                             url: "/complete_order",
                             data: $(this).serialize(),
                             success: function() {
                               alert('success');
                             }
                          });
                        });
                        }
                    }
                }
            });
            var btnCancel = $('<button></button>').text('İptal')
              .addClass('btn btn-danger')
              .on('click', function(){
                  $('#smartwizard').smartWizard("reset");
                  $('#myForm').find("input, textarea, select").val("");
            });
            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                transitionEffect:'fade',
                toolbarSettings: {toolbarPosition: 'bottom', toolbarExtraButtons: [btnFinish, btnCancel]},
                anchorSettings: {
                    markDoneStep: true, // add done css
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                }
             });
            $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                var elmForm = $("#form-step-" + stepNumber);
                // stepDirection === 'forward' :- this condition allows to do the form validation
                // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                if(stepDirection === 'forward' && elmForm){
                    elmForm.validator('validate');
                    var elmErr = elmForm.children('.has-error');
                    if(elmErr && elmErr.length > 0){
                        // Form validation failed
                        return false;
                    }
                }
                return true;
            });
            $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection) {
                // Enable finish button only on last step
                  if(stepNumber == 3){
                    $('.btn-finish').removeClass('disabled');
                }else{
                    $('.btn-finish').addClass('disabled');
                }
            });
        });
    </script>
    <script type="text/javascript">
    $(window).on('load', function() {
      $(".done").click(function(){
        var this_li_ind = $(this).parent().parent("li").index();
        if($('.payment-wizard li').hasClass("jump-here")){
          $(this).parent().parent("li").removeClass("active").addClass("completed");
          $(this).parent(".wizard-content").slideUp();
          $('.payment-wizard li.jump-here').removeClass("jump-here");
        }else{
          $(this).parent().parent("li").removeClass("active").addClass("completed");
          $(this).parent(".wizard-content").slideUp();
          $(this).parent().parent("li").next("li:not('.completed')").addClass('active').children('.wizard-content').slideDown();
        }
      });

      $('.payment-wizard li .wizard-heading').click(function(){
        if($(this).parent().hasClass('completed')){
          var this_li_ind = $(this).parent("li").index();
          var li_ind = $('.payment-wizard li.active').index();
          if(this_li_ind < li_ind){
            $('.payment-wizard li.active').addClass("jump-here");
          }
          $(this).parent().addClass('active').removeClass('completed');
          $(this).siblings('.wizard-content').slideDown();
        }
      });
    })
   </script>
<%- toasts %>
</div>
</body>
</html>
