<% siteSettings = JSON.parse(siteSettings);  %>
<% siteCategories = JSON.parse(siteCategories);  %>
<% companyInfo = JSON.parse(companyInfo); %>
<% var addresses = siteSettings.addresses;%>
<!DOCTYPE HTML>
<html>

<head>
    <title><%= title %> | 4x4 Led Dünyası</title>
    <!-- meta info -->
    <base href="https://4x4.lapia.net/">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="<%= description %>">
    <meta name="author" content="PIA design consept">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="themes/4x4/web/css/boostrap.css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="themes/4x4/web/css/font_awesome.css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="themes/4x4/web/css/styles.css">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
	   <link rel="stylesheet" type="text/css" href="themes/4x4/web/css/ie.css" />
    <![endif]-->
    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="themes/4x4/web/css/mystyles.css">

    <link rel="stylesheet" href="themes/4x4/web/css/switcher.css">
    <!-- Demo Examples -->
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/apple.css" title="apple" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/pink.css" title="pink" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/teal.css" title="teal" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/gold.css" title="gold" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/downy.css" title="downy" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/atlantis.css" title="atlantis" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/red.css" title="red" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/violet.css" title="violet" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/pomegranate.css" title="pomegranate" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/violet-red.css" title="violet-red" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/mexican-red.css" title="mexican-red" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/victoria.css" title="victoria" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/orient.css" title="orient" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/jgger.css" title="jgger" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/de-york.css" title="de-york" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/blaze-orange.css" title="blaze-orange" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="themes/4x4/web/css/schemes/hot-pink.css" title="hot-pink" media="all" />
    <link href="smart-wizard/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />

    <link href="smart-wizard/dist/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css" />
    <link href="smart-wizard/dist/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
    <link href="smart-wizard/dist/css/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="themes/bebefan/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
    <!-- END Demo Examples -->

</head>

<body >


    <div class="global-wrap">



        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- MAIN NAVIGATION -->
                        <style>
                        .nav-pills > li + li{
                          left:2px;
                        }
                        </style>
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li class="" ><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
                                <% siteMenus = JSON.parse(siteMenus);
                                  siteMenus.forEach(function(menu){
                                  if(menu.child == 0){ %>
                                <li class="" ><a href="<% if(menu.type == 1){ %>sayfa/<% }else if(menu.type == 2){ %> kategori/<% } %><%= menu.slug %>"><%= menu.name %></a>
                                  <% if(menu.childs.length){ %>
                                    <ul>
                                      <% menu.childs.forEach(function(childs){ %>
                                        <li><a href="<% if(childs.type == 1){ %>sayfa/<% }else if(childs.type == 2){ %> kategori/<% } %><%= childs.slug %>"><%= childs.name %></a></li>
                                        <% }) %>

                                    </ul>
                                  <% } %>
                                </li>

<% } }) %>
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-4">
                        <!-- MAIN NAVIGATION -->
                        <a href="/" class="logo mt5">
                            <img src="themes/4x4/4x4-logo.png" alt="4X4 LED DÜNYASI" title="4X4 LED DÜNYASI" />
                        </a>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-4">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            <li class="shopping-cart"><a href="javascript:voide(0)"><i class="fa fa-shopping-cart"></i>Sepet : <% if(sesCart){ %> <%=sesCart.length %> <%} else{ %> 0 <%} %></a>
                                <div class="shopping-cart-box">
                                  <%if(sesCart){ %>
                                    <ul class="shopping-cart-items">
                                      <% var total = 0 %>
                                      <% sesCart.forEach(function(item) { %>
                                      <% total += item.price * item.quantity %>
                                        <li>
                                            <a href="urun/<%= item.slug %>-<%= item.id %>">
                                                <img src="<%= item.img %>" alt="<%= item.name %>" title="<%= item.name %>" />
                                                <h5><%= item.name %> <%=item.option%></h5><span class="shopping-cart-item-price"><%=item.price %> <%-siteSettings.settings_currency %></span>
                                            </a>
                                        </li>
                                      <% }) %>
                                    </ul>
                                    <ul class="list-inline text-center">

                                        <li><a href="/sepet"><i class="fa fa-check-square"></i> Alışverişi Tamamla</a></li>
                                    </ul>
                                    <% }else{ %>
                                      <ul class="list-inline text-center">
                                          <li><a> Sepetiniz de ürün mevcut değil</a></li>
                                      </ul>
                                    <% } %>
                                </div>
                            </li>
                            <%if(sesUser){%>
                              <li> <a class="" href="/profil" data-effect=""><i class="fa fa-user"></i><%=sesUser.name %></a></li>
                            <%}else{%>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#login-dialog"><i class="fa fa-sign-in"></i>Giriş Yap</a></li>
                            <li><a class="" href="javascript:void(0)" data-toggle="modal" data-target="#register-dialog"><i class="fa fa-edit"></i>Kayıt Ol</a></li>
                            <%}%>

                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- LOGIN REGISTER LINKS CONTENT -->
