<% include ../includes/header %>
<div class="container">
<div class="s50"></div>

    <div class="_userLogin _autoMargin">
        <form id="" name="loginform" action="/login" method="POST" >
            <div class="_userLoginHeader">
                Üye Girişi
            </div>
            <div class="_userLoginContent">
                <div class="_userLoginInput" >
                    <input type="text" class="_typeInput" style="width:240px!important" name="email" id="email" placeholder="Email">
                </div>
                <div class="_userLoginInput" >
                    <input type="password" style="width:240px!important" name="password" id="pass" class="_typeInput" placeholder="Şifre">
                </div>
                <div class="_userLoginExtraLink">
                    <div class="_floatLeft">
                        <div class="_floatLeft _reMember">
                            <div class="checkbox checked"><input type="checkbox" checked="" value="1" name="remember" class="mR5 mL0 mT0 mB0"></div>
                            <div class="_floatLeft pT2">Beni Hatırla</div>
                        </div>
                        <div class="_floatLeft _forgotPass">
                            <a href="parolami-unuttum">Şifremi Unuttum</a>
                        </div>
                        <div class="_clear"></div>
                    </div>
                    <div class="_floatRight">
                        <input type="submit" value="Giriş" name="Submit" class="blueButton buttonLarge">
                    </div>
                    <div class="_clear"></div>
                </div>
                <div class="_userExtraLink">
                  


                    <div class="_floatRight">
                        <a href="kayit-ol" class="_displayBlock grayButton _userRegisterLink">YENİ ÜYELİK</a>
                    </div>

                    <div class="_clear"></div>
                </div>
                <div class="s10"></div>




            </div>
        </form>
    </div>
    <div class="s50"></div>


</div>



<%include ../includes/footer%>
