<% include ../includes/header.ejs %>


<div id="mainContainer">
    <div class="contentMediaBanner _clearfix" style="margin-top:10px">
      <div class="banner-1 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_1.png" alt="Güvenli Alışveriş"></div>
      <div class="banner-2 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_2.png" target="_blank" alt=""></div>
      <div class="banner-3 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_3.png" alt=""></div>
      <div class="banner-4 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_4.png" alt=""></div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-bottom:25px;">
        <tbody>
        <tr>


            <!-- BLOCKS BEGIN -->
            <% include ../includes/leftbar.ejs %>
            <!-- BLOCKS END -->


            <td valign="top">
                <div class="contentSection">
                    <div class="carouselTab">
                        <div class="_tabHead">
                            <ul class="_clearfix">
                                <li class="_tabHead-selected">
                                    <a href="javascript:void(0);">Kategori Adı</a>
                                </li>
                            </ul>
                        </div>
                        <div class="_tabContent">
                            <div class="_tabContent-selected">
                                <div class="homeProductCarousel onMousePause">
                                  <% if(products) { JSON.parse(products).forEach(function(product){%>
                                  <% include ../product/single %>
                                  <%}) }%>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="ContentDialog" id="OpenProduct" style="display:none;">
        <div class="boxHeader" id="OpenProduct_Header">
            Ürün Önizlemesi
            <div class="fright">
                <span id="DialogLoader" style="display:none;"><img src="/images/icons/spinner.gif" alt=""></span>
            </div>
        </div>

        <div class="boxContent" id="OpenProduct_Body"></div>
    </div>
</div>

<% include ../includes/footer.ejs %>
