<div class="contentSection">
    <div class="ContentBox2" id="editProfile">
        <div class="Header _clearfix" id="editProfile_Header">
            <div class="_floatLeft">
                <h1>Profilimi Güncelle</h1>
            </div>
            <div class="_floatRight">
                <span id="DialogLoader" class="_displayNone">
                <img src="/images/spinner.gif" alt="">
            </span>
            </div>
        </div>
        <div id="editProfile_Body" class="_myAccountContainer">
            <form name="editProfileForm" id="editProfileForm" action="/update_user" method="POST" enctype="multipart/form-data">
                <div class="box">
                    <div class="boxContent">
                        <div class="form">
                            <div class="groupHeader">
                                Üye Bilgilerim
                            </div>
                            <div class="formRow">
                                <label>Adı</label>
                                <div class="colon">:</div>
                                <div class="input">
                                    <input type="text" name="firstname" id="firstname" value="<%= customer.name %>" autocomplete="on" class="large _typeInput">
                                </div>
                                <div class="formNotice _colorRed">*</div>
                            </div>
                            <div class="formRow">
                                <label>Soyadı</label>
                                <div class="colon">:</div>
                                <div class="input">
                                    <input type="text" name="surname" id="surname" value="<%= customer.surname %>" autocomplete="on" class="large _typeInput">
                                </div>
                                <div class="formNotice _colorRed">*</div>
                            </div>
                            <div class="formRow">
                                <label>Email</label>
                                <div class="colon">:</div>
                                <div class="input">
                                    <input type="text" name="email" id="email" value="<%= customer.email %>" autocomplete="on" class="large _typeInput">
                                </div>
                                <div class="formNotice _colorRed">*</div>
                            </div>

                            <div class="formRow">
                                <label>Cep Telefonu</label>
                                <div class="colon">:</div>
                                <div class="input">
                                    <input type="text" name="cell" id="cell" value="<%= customer.mobil %>" autocomplete="on" class="large _typeInput">
                                </div>
                            </div>
                            <div class="formRow">
                                <label>T.C Kimlik No</label>
                                <div class="colon">:</div>
                                <div class="input">
                                    <input type="text" name="tcId" id="tcId" value="" autocomplete="on" class="large _typeInput" maxlength="11">
                                </div>
                            </div>
                            <div class="formRow">
                                <div class="noLabel"></div>
                                <div class="input">
                                    <input type="Submit" name="Submit" id="Submit" value="Kaydet" class="blueButton buttonLarge fleft">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
