<script src="themes/bebefan/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
<div class="contentSection">

    <div class="ContentBox" id="addressBook">
        <div class="Header _clearfix" id="addressBook_Header">
            <div style="float:left;">Adres Defteri</div>
            <div style="float:right;"><span id="DialogLoader" style="display:none;"><img src="images/spinner.gif"></span></div>
        </div>
        <div id="addressBook_Body" class="_myAccountContainer"><span id="DataGridSpan_FSWpy">
        <div class="box">
            <div class="boxContent">
             <span class="notification warning" id="DataGridInfoBox_FSWpy" style="display:none;"><span id="DataGridInfo_FSWpy"></span>
            <div class="notificationClosed"></div>
            </span>
            <div class="pagination">
                <div class="_floatLeft">
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                          </div>
                          <div class="modal-body">
                            <p>Some text in the modal.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="paginationSeperator _floatLeft"></div>
                    <div class="_floatLeft">
                        <a href="javascript:OpenDialog(%27AddAddress%27)" target="" class="_displayBlock blueButton buttonLarge">Ekle</a>
                    </div>
                    <div class="paginationSeperator _floatLeft"></div>
                    <div class="_floatLeft">
                        <span id="DataGridPreloader_FSWpy" style="display:none;"><img src="/images/icons/spinner.gif" alt=""></span>
                    </div>

                </div>
                <div class="_floatRight">
                </div>
            </div>
            <div class="v6Datagrid">
                <table cellspacing="0" cellpadding="0" border="0" class="narrow">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="20%">Adres İsmi</th>
                            <th width="35%">Açık Adres</th>
                            <th width="35%">İlçe</th>
                            <th width="35%">İl</th>
                            <th width="35%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody id="GridTable_FSWpy">
                      <% if(customer.address){
                        customer.address.forEach(function(address){
                        %>
                      <tr>
                          <th width="5%"><%= address.id %></th>
                          <th width="20%"><%= address.name %></th>
                          <th width="35%"><%=address.address%></th>
                          <th width="35%"><%=address.district%></th>
                          <th width="35%"><%=address.county%></th>
                          <th width="35%">
                            <a href="">Düzenle</a>
                            <a href="">Sil</a>
                          </th>
                      </tr>
                      <% } ) } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </span>
</div>
</div>
<div id="AddAddress" style="display: none; position: absolute; z-index: -2; left: 412.5px; top: 48px; visibility: hidden;" class="v6FormDialog _backgroundColorWhite">
    <form name="AddAddress_Form" id="AddAddress_Form" action="javascript:void(0);" method="POST" enctype="multipart/form-data" onsubmit="return vd_RTX18.exec();">
        <div class="box">
            <div class="boxHeader">
                <div class="fleft">
                    Adres Ekle
                </div>

            </div>
            <div class="boxContent">
                <div class="form">
                    <div class="formRow">
                        <label>Adres İsmi</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="addressName" id="addressName" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Adı Soyadı</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="fullName" id="fullName" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>
                    <div class="formRow">
                        <label>Adres</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <textarea name="address" id="address" class="xlarge _textArea"></textarea></div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Ülke</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="country_span" rel="country_span">
                                <select name="country" id="country" onchange="setCity(jQuery(this).val());" class="_selectBox"><option value="134">Polanya</option><option selected="" value="1">Türkiye</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>Şehir</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="city_span" rel="city_span">
                                <select name="city" id="city" onchange="setDistrict(jQuery(this).val(), 1);" class="_selectBox"><option selected="" value="1">İstanbul</option><option value="3">Ankara</option><option value="4">İzmir</option><option value="5">Adana</option><option value="6">Adıyaman</option><option value="7">Afyon</option><option value="8">Ağrı</option><option value="9">Aksaray</option><option value="10">Amasya</option><option value="11">Antalya</option><option value="12">Ardahan</option><option value="13">Artvin</option><option value="14">Aydın</option><option value="15">Balıkesir</option><option value="16">Bartın</option><option value="17">Batman</option><option value="18">Bayburt</option><option value="19">Bilecik</option><option value="20">Bingöl</option><option value="21">Bitlis</option><option value="22">Bolu</option><option value="23">Burdur</option><option value="24">Bursa</option><option value="25">Çanakkale</option><option value="26">Çankırı</option><option value="27">Çorum</option><option value="28">Denizli</option><option value="29">Diyarbakır</option><option value="30">Edirne</option><option value="31">Elazığ</option><option value="32">Erzincan</option><option value="33">Erzurum</option><option value="34">Eskişehir</option><option value="35">Gaziantep</option><option value="36">Giresun</option><option value="37">Gümüşhane</option><option value="38">Hakkari</option><option value="39">Hatay</option><option value="40">Iğdır</option><option value="41">Isparta</option><option value="42">Mersin</option><option value="43">Kars</option><option value="44">Kastamonu</option><option value="45">Kayseri</option><option value="46">Kırıkkale</option><option value="47">Kırklareli</option><option value="48">Kırşehir</option><option value="49">Kocaeli</option><option value="50">Konya</option><option value="51">Kütahya</option><option value="52">Malatya</option><option value="53">Manisa</option><option value="54">Kahramanmaraş</option><option value="55">Karabük</option><option value="56">Karaman</option><option value="57">Kilis</option><option value="58">Mardin</option><option value="59">Muğla</option><option value="60">Muş</option><option value="61">Nevşehir</option><option value="62">Niğde</option><option value="63">Ordu</option><option value="64">Osmaniye</option><option value="65">Rize</option><option value="66">Sakarya</option><option value="67">Samsun</option><option value="68">Siirt</option><option value="69">Sinop</option><option value="70">Sivas</option><option value="71">Tekirdağ</option><option value="72">Tokat</option><option value="73">Trabzon</option><option value="74">Tunceli</option><option value="75">Şanlıurfa</option><option value="76">Şırnak</option><option value="77">Uşak</option><option value="78">Van</option><option value="79">Yalova</option><option value="80">Yozgat</option><option value="81">Zonguldak</option><option value="82">Düzce</option><option value="83">Kıbrıs - Mağusa</option><option value="84">Kıbrıs - Lefkoşa</option><option value="85">Kıbrıs - İskele</option><option value="86">Kıbrıs - Güzelyurt</option><option value="87">Kıbrıs - Girne</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>İlçe</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="district_span" rel="district_span">
                                <select name="district" id="district" onchange="" class="_selectBox"><option value="Adalar">Adalar</option><option value="Bakırköy">Bakırköy</option><option value="Beşiktaş">Beşiktaş</option><option value="Beykoz">Beykoz</option><option value="Beyoğlu">Beyoğlu</option><option value="Çatalca">Çatalca</option><option value="Eyüp">Eyüp</option><option value="Fatih">Fatih</option><option value="Gaziosmanpaşa">Gaziosmanpaşa</option><option value="Kadıköy">Kadıköy</option><option value="Kartal">Kartal</option><option value="Sarıyer">Sarıyer</option><option value="Silivri">Silivri</option><option value="Şile">Şile</option><option value="Şişli">Şişli</option><option value="Üsküdar">Üsküdar</option><option value="Zeytinburnu">Zeytinburnu</option><option value="Büyükçekmece">Büyükçekmece</option><option value="Kağıthane">Kağıthane</option><option value="Küçükçekmece">Küçükçekmece</option><option value="Pendik">Pendik</option><option value="Ümraniye">Ümraniye</option><option value="Bayrampaşa">Bayrampaşa</option><option value="Avcılar">Avcılar</option><option value="Bağcılar">Bağcılar</option><option value="Bahçelievler">Bahçelievler</option><option value="Güngören">Güngören</option><option value="Maltepe">Maltepe</option><option value="Sultanbeyli">Sultanbeyli</option><option value="Tuzla">Tuzla</option><option value="Esenler">Esenler</option><option value="Arnavutköy">Arnavutköy</option><option value="Ataşehir">Ataşehir</option><option value="Başakşehir">Başakşehir</option><option value="Beylikdüzü">Beylikdüzü</option><option value="Çekmeköy">Çekmeköy</option><option value="Esenyurt">Esenyurt</option><option value="Sancaktepe">Sancaktepe</option><option value="Sultangazi">Sultangazi</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>Telefon</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="phone" id="phone" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Cep Telefonu</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="cell" id="cell" value="" autocomplete="on" class="large _typeInput">
                        </div>
                    </div>

                    <div class="formRow" style="display:block;" id="div_invoiceType">
                        <label>Fatura Türü</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <select name="invoice_type_add" id="invoice_type_add" onchange="showExtraFieldsForInvoiceType(jQuery(this).val(), 'add')" class="_selectBox"><option value="individual">Bireysel</option><option value="corporate">Kurumsal</option></select>
                        </div>
                    </div>

                    <div class="formRow" style="display:block;" id="div_tcId">
                        <label>T.C Kimlik No</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="tcId_add" id="tcId_add" value="" autocomplete="on" class="large _typeInput">
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_taxNumber">
                        <label>Vergi No</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="taxId_add" id="taxId_add" value="" autocomplete="on" class="large _typeInput">
                            <div class="tooltipForm formQuestion" rel="Teslimat tipindeki adreslerde Vergi No kullanılmamaktadır."></div>
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_taxOffice">
                        <label>Vergi Dairesi</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="taxPlace_add" id="taxPlace_add" value="" autocomplete="on" class="large _typeInput">
                            <div class="tooltipForm formQuestion" rel="Teslimat tipindeki adreslerde Vergi Dairesi kullanılmamaktadır."></div>
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_isEinvoiceUser">
                        <label>E-Fatura Kullanımı</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <select name="is_einvoice_user" id="is_einvoice_user" onchange="" class="_selectBox"><option selected="" value="0">Hayır</option><option value="1">Evet</option></select>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="noLabel"></div><input type="Button" name="Submit" id="Submit" value="Gönder" class="blueButton buttonLarge fleft" onclick=" if(CheckSubmitParams('add', '1')) ProcessForm_RTX18()">
                        <input type="Button" name="Cancel" id="Cancel" value="İptal" class="grayButton buttonLarge fleft" onclick="CloseDialog('AddAddress');">
                    </div>
                </div>
            </div>
        </div>
    </form><img id="closeButton" onclick="CloseDialog(&quot;AddAddress&quot;)" style="display: inline; position: absolute; right: 12px; top: 12px; z-index: 80; cursor: pointer;" src="/images/formdialog/box_header_close.png"></div>

<div id="EditAddress" style="display:none;" class="v6FormDialog _backgroundColorWhite">
    <form name="EditAddress_Form" id="EditAddress_Form" action="javascript:void(0);" method="POST" enctype="multipart/form-data" onsubmit="return vd_BCSWa.exec();">
        <div class="box">
            <div class="boxHeader">
                <div class="fleft">
                    Adres Düzenle
                </div>

            </div>
            <div class="boxContent">
                <div class="form"><input type="hidden" name="id" id="id" value="">
                    <div class="formRow">
                        <label>Adres İsmi</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="addressName" id="addressName" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Adı Soyadı</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="fullName" id="fullName" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>
                    <div class="formRow">
                        <label>Adres</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <textarea name="address" id="address" class="xlarge _textArea"></textarea></div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Ülke</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="country_span" rel="country_span">
                                <select name="country" id="country" onchange="setCity(jQuery(this).val());" class="_selectBox"><option value="134">Polanya</option><option selected="" value="1">Türkiye</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>Şehir</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="city_span" rel="city_span">
                                <select name="city" id="city" onchange="setDistrict(jQuery(this).val(), 1);" class="_selectBox"><option selected="" value="1">İstanbul</option><option value="3">Ankara</option><option value="4">İzmir</option><option value="5">Adana</option><option value="6">Adıyaman</option><option value="7">Afyon</option><option value="8">Ağrı</option><option value="9">Aksaray</option><option value="10">Amasya</option><option value="11">Antalya</option><option value="12">Ardahan</option><option value="13">Artvin</option><option value="14">Aydın</option><option value="15">Balıkesir</option><option value="16">Bartın</option><option value="17">Batman</option><option value="18">Bayburt</option><option value="19">Bilecik</option><option value="20">Bingöl</option><option value="21">Bitlis</option><option value="22">Bolu</option><option value="23">Burdur</option><option value="24">Bursa</option><option value="25">Çanakkale</option><option value="26">Çankırı</option><option value="27">Çorum</option><option value="28">Denizli</option><option value="29">Diyarbakır</option><option value="30">Edirne</option><option value="31">Elazığ</option><option value="32">Erzincan</option><option value="33">Erzurum</option><option value="34">Eskişehir</option><option value="35">Gaziantep</option><option value="36">Giresun</option><option value="37">Gümüşhane</option><option value="38">Hakkari</option><option value="39">Hatay</option><option value="40">Iğdır</option><option value="41">Isparta</option><option value="42">Mersin</option><option value="43">Kars</option><option value="44">Kastamonu</option><option value="45">Kayseri</option><option value="46">Kırıkkale</option><option value="47">Kırklareli</option><option value="48">Kırşehir</option><option value="49">Kocaeli</option><option value="50">Konya</option><option value="51">Kütahya</option><option value="52">Malatya</option><option value="53">Manisa</option><option value="54">Kahramanmaraş</option><option value="55">Karabük</option><option value="56">Karaman</option><option value="57">Kilis</option><option value="58">Mardin</option><option value="59">Muğla</option><option value="60">Muş</option><option value="61">Nevşehir</option><option value="62">Niğde</option><option value="63">Ordu</option><option value="64">Osmaniye</option><option value="65">Rize</option><option value="66">Sakarya</option><option value="67">Samsun</option><option value="68">Siirt</option><option value="69">Sinop</option><option value="70">Sivas</option><option value="71">Tekirdağ</option><option value="72">Tokat</option><option value="73">Trabzon</option><option value="74">Tunceli</option><option value="75">Şanlıurfa</option><option value="76">Şırnak</option><option value="77">Uşak</option><option value="78">Van</option><option value="79">Yalova</option><option value="80">Yozgat</option><option value="81">Zonguldak</option><option value="82">Düzce</option><option value="83">Kıbrıs - Mağusa</option><option value="84">Kıbrıs - Lefkoşa</option><option value="85">Kıbrıs - İskele</option><option value="86">Kıbrıs - Güzelyurt</option><option value="87">Kıbrıs - Girne</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>İlçe</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <span id="district_span" rel="district_span">
                                <select name="district" id="district" onchange="" class="_selectBox"><option value="Adalar">Adalar</option><option value="Bakırköy">Bakırköy</option><option value="Beşiktaş">Beşiktaş</option><option value="Beykoz">Beykoz</option><option value="Beyoğlu">Beyoğlu</option><option value="Çatalca">Çatalca</option><option value="Eyüp">Eyüp</option><option value="Fatih">Fatih</option><option value="Gaziosmanpaşa">Gaziosmanpaşa</option><option value="Kadıköy">Kadıköy</option><option value="Kartal">Kartal</option><option value="Sarıyer">Sarıyer</option><option value="Silivri">Silivri</option><option value="Şile">Şile</option><option value="Şişli">Şişli</option><option value="Üsküdar">Üsküdar</option><option value="Zeytinburnu">Zeytinburnu</option><option value="Büyükçekmece">Büyükçekmece</option><option value="Kağıthane">Kağıthane</option><option value="Küçükçekmece">Küçükçekmece</option><option value="Pendik">Pendik</option><option value="Ümraniye">Ümraniye</option><option value="Bayrampaşa">Bayrampaşa</option><option value="Avcılar">Avcılar</option><option value="Bağcılar">Bağcılar</option><option value="Bahçelievler">Bahçelievler</option><option value="Güngören">Güngören</option><option value="Maltepe">Maltepe</option><option value="Sultanbeyli">Sultanbeyli</option><option value="Tuzla">Tuzla</option><option value="Esenler">Esenler</option><option value="Arnavutköy">Arnavutköy</option><option value="Ataşehir">Ataşehir</option><option value="Başakşehir">Başakşehir</option><option value="Beylikdüzü">Beylikdüzü</option><option value="Çekmeköy">Çekmeköy</option><option value="Esenyurt">Esenyurt</option><option value="Sancaktepe">Sancaktepe</option><option value="Sultangazi">Sultangazi</option></select>
                            </span></div>
                    </div>

                    <div class="formRow">
                        <label>Telefon</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="phone" id="phone" value="" autocomplete="on" class="large _typeInput">
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow">
                        <label>Cep Telefonu</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="cell" id="cell" value="" autocomplete="on" class="large _typeInput">
                        </div>
                    </div>

                    <div class="formRow">
                        <label>Adres Tipi</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <select name="type_edit" id="type_edit" onchange="showExtraFieldsForType(jQuery(this).val(), document.getElementById('invoice_type_edit').value, 'edit')" class="_selectBox"><option value="shipping">Teslimat</option><option value="billing">Fatura</option></select>
                        </div>
                        <div class="formNotice _colorRed">*</div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_invoiceType_edit">
                        <label>Fatura Türü</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <select name="invoice_type_edit" id="invoice_type_edit" onchange="showExtraFieldsForInvoiceType(jQuery(this).val(), 'edit')" class="_selectBox"><option value="individual">Bireysel</option><option value="corporate">Kurumsal</option></select>
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_tcId_edit">
                        <label>T.C Kimlik No</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="tcId_edit" id="tcId_edit" value="" autocomplete="on" class="large _typeInput">
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_taxNumber_edit">
                        <label>Vergi No</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="taxId_edit" id="taxId_edit" value="" autocomplete="on" class="large _typeInput">
                            <div class="tooltipForm formQuestion" rel="Teslimat tipindeki adreslerde Vergi No kullanılmamaktadır."></div>
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_taxOffice_edit">
                        <label>Vergi Dairesi</label>
                        <div class="colon">:</div>
                        <div class="input"><input type="text" name="taxPlace_edit" id="taxPlace_edit" value="" autocomplete="on" class="large _typeInput">
                            <div class="tooltipForm formQuestion" rel="Teslimat tipindeki adreslerde Vergi Dairesi kullanılmamaktadır."></div>
                        </div>
                    </div>

                    <div class="formRow" style="display:none;" id="div_isEinvoiceUser_edit">
                        <label>E-Fatura Kullanımı</label>
                        <div class="colon">:</div>
                        <div class="input">
                            <select name="is_einvoice_user" id="is_einvoice_user" onchange="" class="_selectBox"><option selected="" value="0">Hayır</option><option value="1">Evet</option></select>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="noLabel"></div><input type="Button" name="Submit" id="Submit" value="Gönder" class="blueButton buttonLarge fleft" onclick=" if(CheckSubmitParams('edit', '1')) ProcessForm_BCSWa()">
                        <input type="Button" name="Cancel" id="Cancel" value="İptal" class="grayButton buttonLarge fleft" onclick="CloseDialog('EditAddress');">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
