<div class="title-wrap  text-center space-bottom-25">
    <h2 class="section-title with-border">
                                <span class="white-bg">
                                    <span class="funky-font pink-tag">Order</span>
                                    <span class="italic-font">History</span>
                                </span>
    </h2>
</div>
<div class="account-details-wrap">
<div class="title-2 sub-title-small">  Your Order History </div>
<div class="light-bg default-box-shadow">
    <table class="product-table">
        <thead>
        <tr>
            <th>Img</th>
            <th>Product Name</th>
            <th>QTY</th>
            <th>Price</th>
            <th>Order ID</th>
            <th>Delivered on</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td class="image">
                <div class="white-bg cart-img">
                    <a class="media-link" href="#"><img src="assets/img/cart/cart-1.png" alt=""></a>
                </div>
            </td>
            <td class="description">
                <a href="#">Noddy Hooded Sweatshirt Full Sleeves</a>
                <p>Color : Black</p>
                <p>Size : 2-4 Year</p>
            </td>
            <td class="quantity">
                x3
            </td>
            <td class="total"> <strong> $200 </strong> </td>
            <td class="order-id"> OD31207 </td>
            <td class="diliver-date"> 12th Dec'13 </td>
            <td class="order-status">
                <a class="blue-btn btn" href="return.html">Return Order</a>
                <a class="green-btn btn" href="#">Re Order</a>
            </td>
        </tr>
        <tr>
            <td class="image">
                <div class="white-bg cart-img">
                    <a class="media-link" href="#"><img src="assets/img/cart/cart-2.png" alt=""></a>
                </div>
            </td>
            <td class="description">
                <a href="#">Noddy Hooded Sweatshirt Full Sleeves</a>
                <p>Color : Black</p>
                <p>Size : 2-4 Year</p>
            </td>
            <td class="quantity">
                x3
            </td>
            <td class="total"> <strong> $200 </strong> </td>
            <td class="order-id"> OD31207 </td>
            <td class="diliver-date"> 12th Dec'13 </td>
            <td class="order-status">
                <a class="blue-btn btn" href="return.html">Return Order</a>
                <a class="green-btn btn" href="#">Re Order</a>
            </td>
        </tr>
        <tr>
            <td class="image">
                <div class="white-bg cart-img">
                    <a class="media-link" href="#"><img src="assets/img/cart/cart-3.png" alt=""></a>
                </div>
            </td>
            <td class="description">
                <a href="#">Noddy Hooded Sweatshirt Full Sleeves</a>
                <p>Color : Black</p>
                <p>Size : 2-4 Year</p>
            </td>
            <td class="quantity">
                x3
            </td>
            <td class="total"> <strong> $200 </strong> </td>
            <td class="order-id"> OD31207 </td>
            <td class="diliver-date"> 12th Dec'13 </td>
            <td class="order-status">
                <a class="blue-btn btn" href="return.html">Return Order</a>
                <a class="green-btn btn" href="#">Re Order</a>
            </td>
        </tr>
        <tr>
            <td class="image">
                <div class="white-bg cart-img">
                    <a class="media-link" href="#"><img src="assets/img/cart/cart-4.png" alt=""></a>
                </div>
            </td>
            <td class="description">
                <a href="#">Noddy Hooded Sweatshirt Full Sleeves</a>
                <p>Color : Black</p>
                <p>Size : 2-4 Year</p>
            </td>
            <td class="quantity">
                x3
            </td>
            <td class="total"> <strong> $200 </strong> </td>
            <td class="order-id"> OD31207 </td>
            <td class="diliver-date"> 12th Dec'13 </td>
            <td class="order-status">
                <span class="return-request"> You requested <br> this order for return </span>
                <a class="green-btn btn" href="#">Re Order</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="continue-shopping">
        <div class="shp-btn">
            <a class="pink-btn btn" href="my-account.html"> Back To Account </a>
        </div>
    </div>
</div>
</div>