<aside class="col-md-4 col-sm-4 space-bottom-20">
    <div class="blog-sidebar-widget light-bg default-box-shadow">
        <h4 class="widget-title blue-bg"> <span>  Hesabım  </span> </h4>
        <div class="blog-widget-content">
            <ul>
                <li class="accout-item"><a id="account_edit" href="javascript:void(0)" onclick="$('#profile_container').load('profil/account')"> Hesabımı Düzenle </a></li>

                <li class="accout-item"><a id="change_password" href="javascript:void(0)" onclick="$('#profile_container').load('profil/password')">Şifre Değiştir</a></li>
                <li class="accout-item"><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/address')">Adreslerim</a></li>
                <li class="accout-item"><a id="orders" href="javascript:void(0)" onclick="$('#profile_container').load('profil/orders')">Siparişler</a></li>
                <!--<li class="accout-item"><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/invoices')">Faturalar</a></li>-->
                <li class="accout-item"><a href="javascript:void(0)">Wishlist</a></li>
                <!--<li class="accout-item"><a href="newsletter.html">Haberler</a></li>-->

            </ul>
        </div>
    </div>
</aside>