<% include includes/header %>
        <!-- END LOGIN REGISTER LINKS CONTENT -->
<% var parsedProducts = JSON.parse(products); var counter=0 %>
        <!-- TOP AREA -->
        <div class="top-area">
            <div class="owl-carousel owl-slider" id="owl-carousel-slider" data-inner-pagination="true" data-white-pagination="true">
              <% siteSettings.sliders.forEach(function(slider){ %>
                <div>
                    <div class="bg-holder">
                        <img src="<%=slider.image%>" alt="" title="" style="height:450px; width:1280px;"/>
                    </div>
                </div>
                <% counter++ %>
                <%})%>
            </div>
        </div>
        <!-- END TOP AREA -->

        <!-- SEARCH AREA -->
        <% include includes/banner %>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                      <% include category/list %>
                    </aside>
                </div>
                <div class="col-md-9">
                    <h3 class="mb20 text-center">Sizin için seçtiklerimiz<small></small></h3>
                    <div class="row row-wrap">
                      <% JSON.parse(products).forEach(function(product){%>
                        <% include product/single %>
                      <%})%>
                    </div>
                </div>
            </div>

            <div class="gap gap-small"></div>
        </div>


      <% include includes/footer %>
