<h3 class="mb20 text-center">Kategoriler</h3>
<ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
    <% for(var i = 0; i < siteCategories.length ; i++){ %>

    <% if(siteCategories[i].parent_id == 0) { %>
      <li><a href="kategori/<%= siteCategories[i].slug %>"><i class="fa fa-th-list"></i><%= siteCategories[i].name %></a> </li>
    <%}}%>
</ul>
