<% include ../includes/header %>

<% var parsedProducts = JSON.parse(products); var counter=0 %>
        <!-- SEARCH AREA -->

        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <% include ../category/list %>


                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-sort">
                                <span class="product-sort-selected">sırala <b>Fiayata göre</b></span>
                                <a href="javascript:void(0)" class="product-sort-order fa fa-angle-down"></a>
                                <ul>
                                    <li><a href="javascript:void(0)">İsme göre</a>
                                    </li>
                                    <li><a href="javascript:void(0)">Tarihe göre</a>
                                    </li>
                                    <li><a href="javascript:void(0)">En çok satanlar</a>
                                    </li>
                                    <li><a href="javascript:void(0)">Puana göre</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row row-wrap">
                      <% if(products) { JSON.parse(products).forEach(function(product){%>
                        <% include ../product/single %>
                      <%}) }%>
                    </div>
                    
                    <div class="gap"></div>
                </div>
            </div>

        </div>

      <% include ../includes/footer %>
