<% include ../includes/header %>
<% include ../includes/navbar %>
<% var products_alike = JSON.parse(product).like_product %>
<% product =JSON.parse(product).product %>
<% if (product.option){ %>
<% var options =JSON.parse(product.option) %>
<% } %>

<div class="content-container">
    <div class="content-header">
        <div class="breadcrumbs animated fadeIn">
          <a href="#!">Ana Sayfa</a>
          <% product.categories.forEach(function(category){ %>
          <a href="kategori/<%= category.slug %>"><%= category.name %></a>
          <% } )%>
          <a class="active" href="javascript:void(0)"><%= product.name %></a>
        </div>
        <h2 class="product-title animated fadeIn"><%= product.name %></h2>
        <ul class="product-slider animated fadeInRight">
          <% var counter = 0; product.images.forEach(function(image){ %>
            <li><a class="fullscreen-icon swipebox" href="<%=image.url %>" title="<%= product.name %>"><i class="fa fa-expand"></i></a><img src="<%=image.url %>" alt="img" /></li>
          <% counter++ %>
          <%})%>

        </ul>
        <div class="slick-thumbs">
            <ul>
              <%
                var counter = 0;
                product.images.forEach(function(image){
                var url = image.url;
                var new_url = url.split("?size=large");
                %>
                <li><img src="<%=new_url[0] %>" alt="<%= product.name %>" style="height:70px; width:70px;" /></li>
                <% counter++ %>
                <%})%>
            </ul>
        </div>
        <div class="product-meta animated fadeInUp">
            <div class="rating"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <% if(product.price_discount) {%>
            <div class="price"><span class="price-before"><%= product.price_sale %> <%- siteSettings.settings_currency %></span><%= product.price_after_discount %> <%-siteSettings.settings_currency%></div>
            <% }else{ %>
            <div class="price"><%= product.price_sale %> <%- siteSettings.settings_currency %></div>
            <% } %>
            <% if(product.quantity > 0){ %>
              <div class="availability in-stock">Stokta</div>
            <% }else{ %>
              <div class="availability in-stock" style="color:#fd0d0d;">Tükendi</div>
            <% } %>
        </div>
    </div>
    <div class="product-tabs">
        <ul class="tabs">
            <li class="tab"><a class="active" href="#detail">Detay</a></li>

        </ul>
    </div>
    <div class="product-content">
        <div class="tab-content" id="detail">
            <p><%- product.description %></p>
        </div>

    </div>
    <div class="product-action margin-bottom">
      <a class="btn green btn-block margin-bottom_low" href="javascript:void(0)"
                              <% if(product.quantity <= 0){ %>
                                disabled
                              <% } %>
                              data-id="<%= product.id %>"
                              data-minimum="<% if(product.discounts.length) { %> <%= product.discounts[0].minimum_cart %> <% } %>"
                              data-slug="<%= product.slug %>"
                                <% if(product.price_discount) {%>
                              data-price="<%= product.price_after_discount %>"
                                <%}else{ %>
                              data-price="<%= product.price_sale %>"
                                <%}%>
                              data-img="<% if(product.images.length) { %> <%= product.images[0].url %> <% } %>"
                              data-name="<%= product.name %>"
                              data-option=""
                              data-option-check="<% if (product.option){ %><%= product.option.length %><%}%>"
                              onclick="addToCart($(this))">Sepete Ekle</a>
      <a class="btn grey btn-block" href="javascript:void(0)">Beğendim</a>
    </div>
    <div class="product-share">
      <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
      <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
      <a href="#" class="gplus"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="pint"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="line"></div>
    <div class="page-block">
        <h2 class="block-title"><span>BENZER ÜRÜNLER</span></h2>
        <ol class="product-list-slider">
          <% products_alike.forEach(function(product){ %>
            <% include ../product/single %>
          <% }) %>
        </ol>
        <div class="clear"></div>
    </div>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>
