<li>
    <div class="thumb">
      <a href="urun/<%= product.slug%>-<%= product.id%>">
        <img src="<%= product.thumbnail %>" alt="<%= product.name %>" style="height:100%">
      </a>
    </div>
    <div class="product-ctn">
        <div class="product-name"><a href="urun/<%= product.slug%>-<%= product.id%>"><%= product.name.substring(0, 15) %></a></div>
        <div class="rating">
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star"></i></div>
        <% if(product.price_discount) {%>
        <div class="price">
          <span class="price-before"><%= product.price_sale %> <%- siteSettings.settings_currency %></span>
          <span class="price-current"><%= product.price_after_discount %> <%- siteSettings.settings_currency %></span>
        </div>
        <%}else{ %>
          <div class="price">
            <span class="price-current"><%= product.price_sale %> <%- siteSettings.settings_currency %></span>
          </div>
        <%}%>
    </div>
</li>
