<% include includes/header %>
    <% include includes/navbar %>

<% var parsedProducts = JSON.parse(products); var counter=0 %>
    <div class="featured-slider animated fadeInRight">
      <% siteSettings.sliders.forEach(function(slider){ %>
        <div class="featured-item">
            <div class="thumb"><img src="<%=slider.image%>" alt=""></div>
            <div class="overlayy"></div>
            <div class="caption">
              </div>
        </div>
        <% counter++ %>
        <%})%>
    </div>
    <div class="content-container animated fadeInUp">
        <div class="page-block margin-bottom">
            <h2 class="block-title"><span>Vitrin Ürünleri</span><a href="#" class="list-all"><i class="fa fa-th-list"></i></a></h2>
            <!--Use .top-product class to make blue border on each item-->
            <ol class="product-list-slider top-product">
              <% JSON.parse(showcase).forEach(function(product){
                 if(product.show_type == 1){
               %>
                <% include product/single %>
                <% }}) %>
            </ol>
            <div class="clear"></div>
        </div>
        <div class="page-block">
            <h2 class="block-title">
              <span>Yeni Ürünler</span>
              <a href="#" class="list-all"><i class="fa fa-th-list"></i></a>
            </h2>
            <ol class="product-list">
              <% JSON.parse(products).forEach(function(product){%>
                <% include product/single %>
              <%})%>
            </ol>
            <div class="clear"></div>
        </div>
    </div>
    <% include includes/footer %>
<% include includes/end %>
