<% include ../includes/header %>
<% include ../includes/navbar %>

<% var parsedProducts = JSON.parse(products); var counter=0 %>

<div class="content-container">
    <h1 class="page-title animated fadeIn">Ürün Listesi</h1>
    <div class="product-list-navigation animated fadeInRight">

        <div class="sorting-nav"><span class="label">Sırala</span>
            <div class="sorting-dropdown">
              <select class="browser-default">
                <option value="" selected>Son Eklenen</option>
                <option value="">Popüler</option>
                <option value="">En ucuz</option>
                <option value="">En Pahalı</option>
                <option value="">En Yüksek Puan</option>
                <option value="">Alfabetik A-Z</option>
              </select>
            </div>
        </div>
    </div>
    <ol class="product-list animated fadeInLeft">
    <% if(products) { JSON.parse(products).forEach(function(product){%>
      <% include ../product/single %>
    <%}) }%>
    </ol>
    <div class="clear"></div>

</div>
<% include ../includes/footer %>
<% include ../includes/end %>
