<div class="footer">
    <div class="footer-main">
        <p><span class="block text-small">Güvenli alışverişin adresi 4X4 Led DÜnyası</span><i class="fa fa-cc-amex"></i><i class="fa fa-cc-mastercard"></i><i class="fa fa-credit-card"></i><i class="fa fa-cc-paypal"></i><i class="fa fa-cc-visa"></i><i class="fa fa-google-wallet"></i>
            <i
                class="fa fa-cc-discover"></i><i class="fa fa-cc-jcb"></i></p>
        <p><span class="block text-small">İletişim</span>+90 541 898 20 06 | info@4x4leddunyasi.com | <a href="#">Canlı Destek</a></p>
        <div class="social-footer"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></div>
    </div>
    <div class="copyright"><span class="block">&copy; 2018 4x4leddunyasi.com</span>
        <div class="navigation"><a href="#">Koşullar</a><a href="#">Gizlilik Politikası</a></div>
    </div>
</div>
<div id="to-top" class="main-bg"><i class="fa fa-long-arrow-up"></i></div>
