<% siteSettings = JSON.parse(siteSettings);  %>
<% siteCategories = JSON.parse(siteCategories);  %>
<% companyInfo = JSON.parse(companyInfo); %>
<% var addresses = siteSettings.addresses;%>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title><%= title %> - Mobile Shop Template</title>
    <base href="https://4x4.lapia.net/">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="themes/4x4/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="themes/4x4/mobile/css/responsive.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="themes/bebefan/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">

</head>
  <body>
      <div id="main">
          <div id="slide-out-left" class="side-nav">
              <div class="top-left-nav">
                  <div class="searchbar"><i class="fa fa-search"></i><input type="text" placeholder="Arama"></div>
              </div>
              <div id="main-menu">
                  <ul>
                      <li><a href="/"><i class="fa fa-home"></i> ANA SAYFA</a></li>
                      <% for(var i = 0; i < siteCategories.length ; i++){ %>

                      <% if(siteCategories[i].parent_id == 0) { %>
                      <li  <% siteCategories.forEach(function(category){ %>
                      <%if(siteCategories[i].id == category.parent_id ){ %> class="has-sub" <%}})%>><a href="kategori/<%= siteCategories[i].slug %>"><i class="fa fa-th-list"></i><%= siteCategories[i].name %></a>
                        <% siteCategories.forEach(function(category){ %>
                        <%if(siteCategories[i].id == category.parent_id ){ %>
                          <ul>

                              <li><a href="kategori/<%=category.slug %>"><%=category.name %></a></li>


                          </ul>
                          <%}})%>
                      </li>
                      <%}}%>
                  </ul>
              </div>
          </div>
          <div id="slide-out-right" class="side-nav">
              <div class="sidebar-tabs">
                  <ul class="tabs">
                      <li class="tab"><a class="active" href="#yourcart">Sepetiniz</a></li>

                  </ul>
              </div>
              <div class="sidebar-tabs_content">
                  <div id="yourcart">
                    <%if(sesCart){ %>
                      <ol class="cart-item">

                        <% var total = 0 %>
                        <% sesCart.forEach(function(item) { %>
                        <% total += item.price * item.quantity %>
                          <li>
                              <div class="thumb"><img src="<%= item.img %>" alt="<%= item.name %>"></div>
                              <div class="cart-delete"><a href="/remove-from-cart/<%=item.id%>"><i class="fa fa-times"></i></a></div>
                              <div class="cart-detail">
                                  <h3 class="product-name"><a href="product.html"><%= item.name %> <%=item.option%></a></h3>
                                  <div class="price"><span>Fiyat</span> <%=item.price %> <%-siteSettings.settings_currency %></div>
                                  <div class="qty"><span>Adet</span> <input type="number" value="<%= item.quantity %>"></div>
                              </div>
                          </li>
                          <% }) %>
                      </ol>
                      <div class="cart-action">
                          <div class="total"><span class="title">Toplam</span><span class="price"><%=total.toFixed(2) %> <%-siteSettings.settings_currency %></span></div>
                          <a href="/sepet" class="btn green btn-block">Alışverişi Tamamla</a>
                      </div>
                      <% }else{ %>
                        <div class="latest-blog-featured">
                              <h3 class="blog-title"><a href="javascript:void(0)">Sepetinizde ürün bulunmamaktadır.</a></h3>
                            <a href="/" class="btn green btn-block">Alışverişe Başla</a>
                        </div>
                      <% } %>
                  </div>

              </div>
          </div>
          <div id="page">
