<div class="top-navbar">
    <div class="top-navbar-left"><a href="#" id="menu-left" data-activates="slide-out-left"><i class="fa fa-bars"></i></a></div>
    <div class="top-navbar-right"><a href="#" class="dropdown-button" data-activates="dropdown1"><i class="fa fa-user-circle-o"></i></a>
        <ul id="dropdown1" class="dropdown-content">
            <% if(sesUser) { %>
              <li><a href="/profil"><i class="fa fa-user"></i> <%= sesUser.name %></a></li>
              <li><a href="/profil/siparisler"><i class="fa fa-history"></i> Sipariş Geçmişi</a></li>
              <li class="divider"></li>
              <li><a href="/logout"><i class="fa fa-search"></i> Çıkış Yap</a></li>
            <% } else{ %>
              <li><a href="/giris"><i class="fa fa-server"></i> Giriş Yap</a></li>
              <li><a href="/kayit-ol"><i class="fa fa-user"></i> Kayıt Ol</a></li>
            <% } %>
        </ul>
        <a href="#" id="menu-right" data-activates="slide-out-right">
          <span class="cart-badge"><% if(sesCart){ %> <%=sesCart.length %> <%} else{ %> 0 <%} %></span><i class="fa fa-shopping-basket"></i>
        </a>
      </div>
    <div class="site-title">
        <h1><img src="themes/4x4/4x4-logo.png" class="logo-design"></h1>
    </div>
</div>
