<% include ../includes/header %>
<% var products_alike = JSON.parse(product).like_product %>
<% product =JSON.parse(product).product %>
<% if (product.option){ %>
<% var options =JSON.parse(product.option) %>
<% } %>
        <!-- SEARCH AREA -->

        <!-- END SEARCH AREA -->

        <div class="gap"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                      <% include ../category/list %>
                    </aside>
                </div>
                <div class="col-md-9">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
                              <%
                                var counter = 0;
                                product.images.forEach(function(image){
                                var url = image.url;
                                var new_url = url.split("?size=large");
                                %>
                                <img src="<%=new_url[0] %>" alt="Image Alternative text" title="Gamer Chick" />
                                <% counter++ %>
                                <%})%>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="product-info box">
                                <h3><%= product.name %></h3>
                                <% if(product.price_discount) {%>
                                <p class="product-info-price" style="text-decoration: line-through; color:red; float:left; font-size:20px; border-bottom:0px;"><%= product.price_sale %> <%- siteSettings.settings_currency %> </p>
                                <p class="product-info-price"> <%= product.price_after_discount %> <%-siteSettings.settings_currency%></p>
                                <% }else{ %>
                                <p class="product-info-price"><%= product.price_sale %> <%- siteSettings.settings_currency %></p>
                                <% } %>

                                <ul class="icon-list list-space product-info-list">
                                    <li><i class="fa fa-barcode"></i>Stok Kodu : <%= product.id %></li>
                                  <% if(product.quantity > 0){ %>
                                    <li style="color:#5cec05;"><i class="fa fa-check"></i>Stokta</li>
                                    <% }else{ %>
                                    <li style="color:red;"><i class="fa fa-check"></i>Tükendi</li>
                                    <% } %>
                                </ul>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)"
                                      <% if(product.quantity <= 0){ %>
                                        disabled
                                      <% } %>
                                      data-id="<%= product.id %>"
                                      data-minimum="<% if(product.discounts.length) { %> <%= product.discounts[0].minimum_cart %> <% } %>"
                                      data-slug="<%= product.slug %>"
                                        <% if(product.price_discount) {%>
                                      data-price="<%= product.price_after_discount %>"
                                        <%}else{ %>
                                      data-price="<%= product.price_sale %>"
                                        <%}%>
                                      data-img="<% if(product.images.length) { %> <%= product.images[0].url %> <% } %>"
                                      data-name="<%= product.name %>"
                                      data-option=""
                                      data-option-check="<% if (product.option){ %><%= product.option.length %><%}%>"
                                      onclick="addToCart($(this))" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-pencil"></i>Açıklama</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1" style="font-size:20px;">
                              <%- product.description %>
                            </div>

                        </div>
                    </div>
                    <div class="gap"></div>
                    <h3>Benzer Ürünler</h3>
                    <div class="gap gap-mini"></div>
                    <div class="row row-wrap">

                      <% products_alike.forEach(function(product){ %>
                        <% include ../product/single %>
                      <% }) %>


                    </div>
                    <div class="gap gap-small"></div>
                </div>
            </div>

        </div>

  <% include ../includes/footer %>
