<div class="col-md-3">
    <div class="product-thumb" style="border:1px solid #d1d1d1;">
        <header class="product-header">
          <a href="urun/<%= product.slug%>-<%= product.id%>">
            <img src="<%= product.thumbnail %>" alt="<%= product.name %>" title="<%= product.name %>" style="height:200px;" />
          </a>
        </header>
        <div class="product-inner">
          <a href="urun/<%= product.slug%>-<%= product.id%>">
            <h5 class="product-title" style="color:#a46f2b; font-size:14px; font-weight:700; "><%= product.name.substring(0, 20) %></h5>
          </a>

            <div class="product-meta">
                <ul class="product-price-list">
                  <% if(product.price_discount) {%>
                    <li>
                      <span class="" style="color: #fb0404;  text-decoration: line-through;color: #000;"><%= product.price_sale %> <%- siteSettings.settings_currency %></span>
                    </li>
                    <li>
                      <span class="" style="color:#ffac00;font-weight:700;"><%= product.price_after_discount %> <%- siteSettings.settings_currency %></span>
                    </li>
                    <%}else{ %>
                    <li>
                      <span class="" style="color:#ffac00;font-weight:700;"><%= product.price_sale %> <%- siteSettings.settings_currency %></span>
                    </li>
                    <%}%>
                </ul>

            </div>
        </div>
    </div>
</div>
