<% include includes/header.ejs %>
<% var parsedProducts = JSON.parse(products); var counter=0 %>

<div id="mainContainer">
  <div class="contentMediaWrapper">
      <div class="sliderLink" onClick="sliderHref();"></div>
      <div class="contentMediaSlider">
          <script type="text/javascript">
              jQuery(document).ready(function() {
                  jQuery(".smartSlider_1").SmartSlider({
                      sliderWidth: 1000,
                      sliderHeight: 400,
                      autoStart: 1,
                      autoStartTime: 6000,
                      effectTime: 1000,
                      definitionEffectTime: 500,
                      sliderEffect: "slide",
                      showButton: 1,
                      previousNextSize: 0,
                      previousNextColor: "",
                      previousNextOpacity: 99,
                      pagination: 1,
                      bulletActiveColor: "",
                      bulletPassiveColor: "",
                      bulletActiveFontColor: "",
                      bulletPassiveFontColor: "",
                      paginationNumeric: 1,
                      definition: 0,
                      definitionVerticalPosition: "top",
                      definitionHorizontalPosition: "left",
                      definitionVerticalSpace: 5,
                      definitionHorizontalSpace: 5,
                      definitionFontFamilySelect: "arial",
                      definitionFontColorSelect: "black",
                      definitionFontFamilySize: 10,
                      definitionBackgroundColor: "#9c9c9c"
                  });
              });
          </script>
          <div class="smartSlider_1">
              <div class="_sliderItemContainer">
                  <% siteSettings.sliders.forEach(function(slider){ %>
                  <div class="_sliderItem">
                      <a href="/" rel="">
                        <img src="<%=slider.image%>" alt="<%=slider.name%>" style="width:100%"/>
                      </a>
                  </div>
                  <%})%>
              </div>
          </div>
      </div>
      <div class="s20"></div>
      <div class="contentMediaBanner _clearfix">
          <div class="banner-1 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_1.png" alt="Güvenli Alışveriş"></div>
          <div class="banner-2 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_2.png" target="_blank" alt=""></div>
          <div class="banner-3 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_3.png" alt=""></div>
          <div class="banner-4 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_4.png" alt=""></div>
      </div>
  </div>
  <div class="s10"></div>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>

    <% include includes/leftbar.ejs %>

      <td valign="top">
        <div class="contentSection">
            <div class="carouselTab">
                <div class="_tabHead">
                    <ul class="_clearfix">
                        <li class="_tabHead-selected">
                            <a href="javascript:void(0);">Sizin İçin Seçtiklerimiz</a>
                        </li>
                    </ul>
                </div>
                  <div class="_tabContent">
                      <div class="_tabContent-selected">
                          <div class="homeProductCarousel onMousePause">
                            <% JSON.parse(products).forEach(function(product){%>
                              <% include product/single %>
                            <%})%>

                      </div>
                  </div>

                </div>
            </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="s30"></div>
</div>


<% include includes/footer.ejs %>
