<% include ../includes/header %>
<% include ../includes/navbar %>
<div class="content-container" id="profile_container">
    <h1 class="page-title">Hesap Kontrol</h1>
    <p class="text-small">
      <span class="bold block">Merhaba <%= customer.fullname %></span>
    </p>
    <div class="panel-account margin-bottom">
        <div class="heading">Hesap Bilgileriniz</div>
        <div class="body"><span class="block"><%= customer.fullname %></span>
            <p><%= customer.mobil %> </p>
            <p><%= customer.email %> </p>
            <div class="action"><a id="account_edit" href="javascript:void(0)" onclick="$('#profile_container').load('profil/account')">güncelle</a></div>
        </div>
    </div>
    <div class="panel-account margin-bottom">
        <div class="heading">Parola İşlemleri</div>
        <div class="body">parolanızı güncelleyerek bir sonraki giriş işleminde yeni parolanız ile giriş yapabilirisniz.
            <div class="action"><a id="account_edit" href="javascript:void(0)" onclick="$('#profile_container').load('profil/password')">güncelle</a></div>
        </div>
    </div>
    <div class="panel-account margin-bottom">
        <div class="heading">Adreslerim</div>
        <div class="body">
            <ul class="collapsible order-history" data-collapsible="accordion">
              <% if(customer.address){
                customer.address.forEach(function(address){
                %>
              <li>
                  <div class="collapsible-header"><span class="indicator fa fa-caret-right"></span>
                    <% if(address.type == 1){ %>
                      <div class="order-status">Birincil <span class="fa fa-check"></span></div>
                      <% }else{ %>

                      <% } %>
                      <div class="order-no"><span class="block bold"># <%= address.name %></span><span class="block text-small"><%=address.district%> / <%=address.county%></span></div>
                  </div>
                  <div class="collapsible-body">
                      <ol>
                          <li>
                              <div class="ctn">
                                  <h3><%= address.address %></h3>
                                  <h3><%= address.district %> / <%= address.county %> - <%= address.zipcode %></h3>
                                  <p>
                                    <a data-id="<%=address.id %>" href="javascript:void(0)" onclick="$('#profile_container').load('profil/address-edit')" class="track-order">düzenle </a>
                                    <a data-id="<%=address.id %>" href="/delete_address/<%=address.id%>" onclick="editAddress($(this))" class="track-order"> kaldır</a>
                                  </p>
                              </div>
                          </li>

                      </ol>
                  </div>
              </li>
              <% } ) } %>
          </ul>
          <div class="action"><a id="account_edit" href="javascript:void(0)" onclick="$('#profile_container').load('profil/address')">ekle</a></div>
        </div>
    </div>

</div>
<% include ../includes/footer %>
<% include ../includes/end %>
