<% include ../includes/header %>
<% include ../includes/navbar %>
<div class="content-container">
    <h1 class="page-title">Giriş Yap</h1>
    <div class="page-block margin-bottom">
      <form method="post" action="/login">
        <div class="input-field">
          <input type="email" name="email" id="email" required>
          <label for="email">E-Posta</label>
        </div>
        <div class="input-field">
          <input type="password" name="password" id="password" required>
          <label for="password">Parola</label>
        </div>
        <button class="btn orange block" type="submit">Giriş Yap</button>
      </form>
    </div>

    <div class="page-block">
      <a href="/kayit-ol" class="btn green block" type="button">Kayıt Ol</a>
    </div>
    <div class="line"></div>
    <a href="/parola-sifirla">Parolamı unuttum ? </a>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>
