<% include ../includes/header %>
<% include ../includes/navbar %>
<div class="content-container">
    <h1 class="page-title">Account Control Panel</h1>
    <p class="text-small"><span class="bold block">Hallo Natalie Amyllia</span>From this account control panel, you can see your detail account, last activity, and update your account information. Choose link below to see or update the information.</p>
    <div class="panel-account margin-bottom">
        <div class="heading">Contact Information</div>
        <div class="body"><span class="block">Natalie Amyllia</span>
            <p>natalie.amyllia@example.com - <a href="#">change email</a></p>
            <div class="action"><a href="#">change</a></div>
        </div>
    </div>
    <div class="panel-account margin-bottom">
        <div class="heading">Newsletter</div>
        <div class="body">You are following newsletter currently, such : Shofy Newsletter
            <div class="action"><a href="#">change</a></div>
        </div>
    </div>
    <div class="panel-account margin-bottom">
        <div class="heading">Billing Address</div>
        <div class="body"><span class="block">Natalie Amyllia</span><address>2206 Margasatwa Street, Tower 02Kansas, CA 22994<br/><abbr title="Phone">P:</abbr> (999) 123-456</address>
            <div class="action"><a href="#">change</a></div>
        </div>
    </div>
    <div class="panel-account">
        <div class="heading">Shipping Address</div>
        <div class="body"><span class="block">Natalie Amyllia</span><address>2206 Margasatwa Street, Tower 02Kansas, CA 22994<br/><abbr title="Phone">P:</abbr> (999) 123-456</address>
            <div class="action"><a href="#">change</a></div>
        </div>
    </div>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>
