<% include ../includes/header %>
<% include ../includes/navbar %>
<div class="content-container">
    <h1 class="page-title">Kayıt Ol</h1>
    <div class="page-block margin-bottom">
      <form method="post" action="/register">
        <div class="input-field">
          <input type="text" name="name" id="name" required>
          <label for="name">Adınız</label>
        </div>
        <div class="input-field">
          <input type="text" name="surname" id="surname" required>
          <label for="surname">Soyadınız</label>
        </div>
        <div class="input-field">
          <input type="number" name="phone" id="phone" required>
          <label for="phone">Telefon</label>
        </div>
        <div class="input-field">
          <input type="email" name="email" id="email" required>
          <label for="email">E-Posta</label>
        </div>
        <div class="input-field">
          <input type="password" name="password" id="password" required>
          <label for="password">Parola</label>
        </div>
        <button class="btn green block" type="submit">Kayıt Ol</button>
      </form>
    </div>
    <div class="page-block">
      <a href="/giris" class="btn orange block" type="button">Giriş Yap</a>
    </div>

</div>
<% include ../includes/footer %>
<% include ../includes/end %>
