/* Filter */
#filter { 
    padding-bottom: 10px;
    border-bottom: solid 1px #dddddd;
    width: auto;
    margin: 0 0 10px;
	height:44px;
}

@media screen and (min-width: 40em) {
	#filter {
		padding-bottom: 15px;
		border-bottom: solid 1px #dddddd;
		width: auto;
		margin: 0 0 15px;
		height: 47px;
	}
}

.select-filter-template {
    font-size: 0; 
	padding-top:1px;
}

.select-filter-template a  {
	display: inline-block;
	padding: 10px 5px;
	margin: -8px 5px 0px -5px;
	float: left;
}

.select-filter-template a i {
    width: 28px;
    height: 28px;
    display: block;
	background-size: 84px 112px;
	/* background-size: 96px 128px; */
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../../images/select-template.png);
}

.select-filter-template a.select-template-one i {
	background-position: 0px 0px;
}

.select-filter-template a.select-template-one.active i {
	background-position: 0px -84px !important;
}

.select-filter-template a.select-template-two i {
	background-position: -28px 0px;
}

.select-filter-template a.select-template-two.active i {
	background-position: -28px -84px !important;
}

.select-filter-template a.select-template-three i {
	background-position: -56px 0px;
}

.select-filter-template a.select-template-three.active i {
	background-position: -56px -84px !important;
}

#filter .selectbox select {
    height: 33px;
    padding: 2px 0px 2px 0;
    min-width: 150px;
    text-indent: 5px;
	background-color: #ffffff;
	border-radius: 2px;
}

#filter .selectbox:after {
    top: 5px;
    right: 10px;
}

/* Showcase */
.showcase {
	position: relative;
}

.showcase-image {
    position: relative;
    overflow: hidden;
	min-height: 140px;
}

.showcase-image img {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.showcase-details {
    text-align: center;
}

.showcase-details span {
    display: block;
    width: 100%;
    padding: 2px 0px;
    font-size: 14px;
    color: #666666;
}

.showcase-details .showcase-brand {
	display: block;
    font-weight: 700;
    font-size: 14px;
}

.showcase-price-wrapper {
    text-align: center;
    padding: 4px 0px;
}

.showcase-price-wrapper div {
    display: inline-block;
}

.showcase-price-wrapper div:first-child {
    margin-right: 5px;
}

.showcase-price-wrapper .showcase-price,
.showcase-price-wrapper .showcase-price-one,
.showcase-price-wrapper .showcase-price-two {
	color: #666666;
	font-size: 14px;
}

.showcase-price-wrapper .showcase-price {
    font-size: 16px;
}

.showcase-price-wrapper .showcase-price-two {
    font-size: 16px;
    color: #cc0000;
    font-weight: 700;
}

.showcase-badge {
	position: absolute;
	top: 0;
	left: 0;
}

.showcase-badge-new {
	padding: 5px 10px;
	background: #7b9c15;
	color: #ffffff;
	float: left;
	clear: both;
}

.showcase-badge-gift {
	padding: 5px 10px;
	background: #00529a;
	color: #ffffff;
	float: left;
	clear: both;
}

.showcase-badge-rebate {
	padding: 5px 10px;
	background: #ee0000;
	color: #ffffff;
	float: left;
	clear: both;
}

.showcase-badge-soldout {
	position: absolute;
	bottom: 5px;
	left: 50%;
	background: #000000;
	color: #fff;
	padding: 5px 10px;
	margin-left: -37px;
}

.showcase.template-two {
    overflow: hidden;
    border: none;
    border-bottom: solid 1px #ddd;
	padding: 5px 0;
}
 
.showcase.template-two .showcase-details span {
    text-align: left;
}

.showcase.template-two .showcase-price-wrapper {
    text-align: left;
	clear: both;
}

.showcase.template-two .showcase-badge {
	position: inherit;
	margin-top: 5px;
	margin-bottom: 3px;
}

.showcase.template-two .showcase-badge-new,
.showcase.template-two .showcase-badge-gift {
	clear: none;
}

.showcase.template-two .showcase-badge-rebate {
	position:absolute;
	top: 0;
	right: 0;
}

.showcase.template-two .showcase-badge-soldout {
	left: 0;
	bottom: 15px;
	margin: 0;
}

.showcase.template-three .showcase-badge-rebate {
	position: absolute;
	top: 0;
	right: 0;
}

.showcase.template-three .showcase-badge-soldout {
	bottom: 5px;
}

/* Showcase Template Three */
.showcase.template-three {
	margin-bottom: 10px;
}

.showcase.template-three .showcase-image {
	max-height: 450px;
}

/* Paginate */
.paginate-template-one {
	border-top: solid 1px #dddddd;
    padding: 15px 15px 0px 15px;
    margin-top: 15px; 
    padding-bottom: 15px;
    border-bottom: solid 1px #ddd;
	text-align: center;
}

.paginate-template-one a {
	display: inline-block;
	width: 30px;
	height: 37px;
	line-height: 35px;
	text-align: center;
	border: solid 1px #dddddd; 
}

.paginate-template-one a:first-child {
	float: left;
}

.paginate-template-one a:last-child {
	float: right;
}

.paginate-template-one  .selectbox {
	display: inline-block;
	width: 100%;
	max-width: 70%;
}

.paginate-template-one  .selectbox > select{
	height: 36px;
}

.paginate-template-two {
	margin: 15px 0;
	text-align: center;
}

.paginate-template-two a {
	width: 38px;
	height: 38px;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	border: solid 1px #dddddd;
	border-radius: 2px;
	font-size: 15px;
}

.paginate-template-two a:not(.paginate-first):not(.paginate-last) {
	margin: 0 2px;
}

.paginate-template-two a.paginate-first {
	float: left;
}

.paginate-template-two a.paginate-last {
	float: right;
}

.paginate-template-two a.paginate-active {
	background-color: #666666;
	border: solid 1px #666666;
	color: #ffffff;
}

/* No Result */
.no-result {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
 
.no-result-icons i:before {
	font-size: 90px;
	margin: 0 0 0 10px;
	color: #dddddd;
}

.no-result-text {
	text-align: center;
	margin: 0 0 5px;
	line-height: 1.4;
	font-size: 16px;
}