/* Header */
.override #header {
	height: 127px;
	background: #ac7630 url(../images/pattern1.jpg) repeat;
}

.override.current-state-index #header {
	margin-bottom: 0;
}

.override.current-state-index #header:after {
	display: none;
}

.override #header i:before {
	color: #000;
}

.override #header .icon-navicon:before {
	font-size: 50px;
}

.override #header .icon-bag:before {
	font-family: 'Icons-2';
	content: '\f161';
	font-size: 30px;
}

.override #header .icon-person:before {
	font-family: 'Icons-2';
	content: '\f15a';
}

.override #header .shopping-cart .badge,
.override #header .member-processes .badge {
	top: 10px;
	font-size: 13px;
	font-weight: 700;
	color: #000;
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
}

.override #header .header-center a {
	height: 65px;
}

.override #header .header-bottom {
	top: 65px;
	right: 0;
	left: 0;
}

/* Search */
.override #header .search {
	height: 62px;
	padding: 10px 15px 13px 15px;
	font-size: 0;
}

.override #header .search input {
	display: inline-block;
	vertical-align: top;
	height: 39px;
	width: calc(100% - 60px);
	padding: 0 15px;
	font-size: 12px;
	font-weight: 400;
	color: #343433;
	border: 0;
	border-radius: 3px 0 0 3px;
}

.override #header .search button {
	display: inline-block;
	vertical-align: top;
	height: 39px;
	width: 60px;
	outline: 0;
	border: 0;
	border-radius: 0 3px 3px 0;
	font-size: 15px;
	font-weight: 800;
	color: #000;
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
}

/* Panels */
.override .panel-left .panel-header,
.override .panel-right .panel-header {
	background: #ffac00;
	border-color: #95601d;
}

.override .panel-left .panel-header h4 {
	font-size: 23px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.override .panel-right .panel-header h4 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.override .panel-left .panel-content {
	background: #a46f2b;
}

.override .panel-categories-accordion {
	background: transparent;
}

.override .panel-categories-accordion li a,
.override .panel-categories-accordion li:last-child > a {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	border-color: #95601d;
}

.override .panel-categories-accordion li.sub.active > a {
	background: #85500e;
}

.override .panel-categories-accordion .open-level-button {
	border: 0;
}

.override .panel-categories-accordion .open-level-button:before {
	content: '\f125';
	color: #6a430d;
}

.override .panel-categories-accordion li.sub.active > .open-level-button:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.override .panel-categories-accordion li ul {
	background: #95601d;
}

.override .panel-categories-accordion ul li a {
	border-bottom: 1px solid #85500e;
}

.override .panel-left .panel-header i:before,
.override .panel-right .panel-header i:before {
	color: #000;
}

.override .panel-cart-empty .icon-bag:before {
	font-family: 'Icons-2';
	content: '\f161';
	color: #a46f2b;
}

.override .panel-cart-empty .column {
	color: #000;
}

.override .panel-shopping-cart .panel-cart-delete-icon i:before {
	display: block;
	font-size: 30px;
	line-height: 15px;
}

.override .panel-shopping-cart .panel-cart-price {
	color: #ffac00;
}

.override .panel-shopping-cart .panel-cart-product-name {
	color: #a46f2b;
}

.override .panel-shopping-cart .panel-cart-quanty {
	color: #a46f2b;
	font-weight: 400;
}

.override .panel-shopping-cart .small-6 {
	font-weight: 700;
	color: #000;
}

.override .panel-shopping-cart [data-action="applyTokenCodeForm"] .font-size-16 {
	font-size: 12px;
	font-weight: 400;
	color: #6c6c6c;
}

.override .panel-shopping-cart [data-action="applyTokenCodeForm"] .form-control {
	font-size: 12px;
	font-weight: 400;
	color: #6c6c6c;
}

.override .panel-shopping-cart [data-action="applyTokenCodeForm"] .button-white {
	color: #000;
	border: 1px solid #ddd;
}

.override .member-login .button-white {
	border: 1px solid #ddd;
}

/* Content */
.override .home-slider {
	padding-top: 10px;
	background: #ac7630 url(../images/pattern1.jpg) repeat;
}

.override .swiper-container-horizontal > .swiper-pagination {
	position: relative;
	bottom: auto;
	margin: 10px 0;
}

.override .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	background: #a46f2b;
}

.override .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
	background: #ffb002;
}

.override .home-slider .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	width: 18px;
	height: 18px;
	background: #000;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 18px;
	opacity: 1;
}

.override .home-slider .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
	color: #000;
}

.override .contentbox-default>.contentbox-heading {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	border: 0;
}

.override .contentbox-title {
	font-weight: bold;
}

.override .contentbox-default>.contentbox-heading.green {
	background: #0c6c00;
	color: #fff;
}

.override .contentbox-default>.contentbox-heading.yellow {
	background: #ffb002;
	color: #000;
}

.override .contentbox-default>.contentbox-heading.brown {
	background: #a46f2b;
	color: #fff;
}

.override .showcase {
	border: 1px solid #d1d1d1 !important;
	padding: 10px 5px;
}

.override .showcase-name {
	height: 52px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	color: #a46f2b;
}

.override .template-three .showcase-name {
	height: auto;
	font-size: 18px;
}

.override .showcase-price-wrapper .showcase-price,
.override .showcase-price-wrapper .showcase-price-one,
.override .showcase-price-wrapper .showcase-price-two {
	display: block;
	font-weight: bold;
	text-align: left;
}

.override .showcase-price-wrapper .showcase-price {
	margin-top: 17px;
}

.override .showcase-price-wrapper .showcase-price,
.override .showcase-price-wrapper .showcase-price-two {
	color: #ffac00;
}

.override .template-three .showcase-price-wrapper .showcase-price,
.override .template-three .showcase-price-wrapper .showcase-price-two {
	font-size: 24px;
}

.override .showcase-price-wrapper .showcase-price-one {
	color: #000;
}

.override .template-three .showcase-price-wrapper .showcase-price-one {
	font-size: 18px;
}

.override .showcase-image {
	position: relative;
}

.override .showcase-badge,
.override .showcase.template-one .showcase-badge,
.override .showcase.template-two .showcase-badge,
.override .showcase.template-three .showcase-badge {
	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
	pointer-events: none;
	margin: 0;
}

.override .showcase.template-two .showcase-badge {
	left: 10px;
}

.override .showcase-badge-new {
	position: absolute;
	top: 5px !important; right: 5px;
	width: 45px; height: 45px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 8px 0;
	background: #0c6c00;
	border-radius: 50%;
	text-align: center;
}

.override .showcase-badge-new b {
	display: block;
}

.override .showcase-badge-rebate {
	position: absolute;
	top: 5px !important; left: 5px;
	width: 45px; height: 45px;
	font-size: 9px;
	font-weight: bold;
	color: #000;
	padding: 4px 0;
	border-radius: 50%;
	text-align: center;
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
}

.override .product-images .showcase-badge-rebate {
	right: auto;
}

.override .product-images .showcase-badge-new {
	left: auto;
}

.override .showcase-badge-rebate b {
	display: block;
	font-size: 17px;
}

.override .showcase-badge-rebate b i {
	font-size: 9px;
	font-style: normal;
}

.override .product-badge-soldout,
.override .showcase-badge-soldout,
.override .showcase.template-one .showcase-badge-soldout,
.override .showcase.template-two .showcase-badge-soldout,
.override .showcase.template-three .showcase-badge-soldout {
	position: absolute;
	bottom: 5px; left: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 3px 8px;
	border-radius: 5px;
	background: #000;
	margin-left: 0;
}

.override .product-badge-gift,
.override .showcase-badge-gift,
.override .showcase.template-one .showcase-badge-gift,
.override .showcase.template-two .showcase-badge-gift,
.override .showcase.template-three .showcase-badge-gift {
	position: absolute;
	bottom: 5px; right: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	padding: 3px 8px;
	border-radius: 5px;
	background: #efdb9e;
}

.override .product-badge-soldout,
.override .product-badge-gift {
	bottom: 40px;
    z-index: 5;
}

/* Footer */
.override .footer-inner {
	position: relative;
	padding-top: 110px;
	background: #36260f url(../images/pattern2.jpg) repeat;
}

.override .footer-inner:before {
	position: absolute;
	display: block;
	content: '';
	top: 0; left: 0;
	width: 100%; height: 218px;
	background: url(../images/footer-bg.png) no-repeat bottom center;
	background-size: 63% auto;
}

.override .brands-slider-title {
	padding: 18px 10px;
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #ffac00;
	text-align: center;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}

.override .brands-slider img {
	display: block;
	margin: 10px auto;
}

.override .newsletter {
	position: relative;
	padding: 5px;
	margin: 10px;
	border: 0;
	background: rgba(0,0,0,.7);
	border-radius: 5px;
	font-size: 0;
}

.override .newsletter .control-label {
	padding-top: 17px;
	font-size: 14px;
	font-weight: bold;
	color: #ffac00;
}

.override .newsletter .control-label-small {
	display: block;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
}

.override .newsletter input {
	display: inline-block;
	vertical-align: top;
	height: 39px;
	width: calc(100% - 80px);
	padding: 0 15px;
	font-size: 12px;
	font-weight: 400;
	color: #343433;
	border: 0;
	border-radius: 3px 0 0 3px;
	font-weight: bold;
	color: #000;
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
}

.override .newsletter input::-moz-placeholder {
	color: #000;
	opacity: 1
}

.override .newsletter input:-ms-input-placeholder {
	color: #000
}

.override .newsletter input::-webkit-input-placeholder {
	color: #000
}

.override .newsletter button {
	display: inline-block;
	vertical-align: top;
	height: 39px;
	width: 80px;
	outline: 0;
	border: 0;
	margin: 0;
	border-radius: 0 3px 3px 0;
	font-size: 15px;
	font-weight: 800;
	background: #fff;
	color: #0c6c00;
}

.override .footer-social {
	text-align: center;
}

.override .footer-social span {
	display: block;
	padding: 17px 10px 8px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #ffac00;
	text-align: left;
}

.override .footer-social a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 4px;
}

.override .footer-social a img {
	display: block;
	width: 42px;
}

.override .footer-links {
	border: 0;
	background: none;
}

.override .footer-links ul li a {
	border: 0;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}

.override .footer-inner > div > img {
	display: block;
	width: 100%;
	max-width: 225px;
	margin: 0 auto;
}

.override .back-to-desktop {
	padding: 11px 0;
	background: #fff;
	color: #a46f2b;
}

.override .back-to-desktop i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 30px;
	color: #a46f2b;
}

.override .back-to-desktop a {
	font-weight: bold;
	color: #a46f2b;
}

/* Product Detail */
.override #product-images .swiper-slide {
	border: 1px solid #d1d1d1;
}

.override .product-info {
	padding: 15px;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}

.override .product-brand {
	font-size: 18px;
	font-weight: bold;
	color: #ffb002;
}

.override .product-name {
	font-size: 18px;
	font-weight: bold;
	color: #a46f2b;
}

.override .product-price-wrapper {
	padding: 15px;
    margin-bottom: 10px;
	border-bottom: 1px solid #d1d1d1;
}

.override .product-price-one {
	font-size: 18px;
	font-weight: 400;
	color: #000;
}

.override .product-price,
.override .product-price-two {
	font-size: 24px;
	font-weight: 700;
	color: #ffac00;
}

.override .product-variant-row .row-label {
	padding: 10px;
    padding-top: 0;
	font-size: 18px;
	font-weight: 700;
	color: #a46f2b;
}

.override .product-variant-row .form-control {
	font-weight: bold;
	color: #000;
}

.override a[data-action="getDetails"],
.override a[data-action="getPaymentOptions"],
.override a[data-action="getComments"] {
	border: 1px solid #d1d1d1;
	border-bottom: 0;
	font-weight: bold;
	color: #848484;
	text-transform: uppercase;
}

.override a[data-action="getComments"] {
	border-bottom: 1px solid #d1d1d1;
}

.override .product-share {
	position: relative;
	display: block;
	text-align: center;
}

.override .product-share span {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #ffb002;
}

.override .product-share a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 45px; height: 45px;
	line-height: 45px;
	padding: 0 !important;
	font-size: 20px;
}

.override .product-share a i {
	display: block;
	float: none !important;
	margin: 0;
}

/* Category */
.override .select-filter-template a i {
	background-image: url(../images/select-template.png);
}

.override #filter .selectbox select {
	border-color: #000;
	border-radius: 0;
	padding-left: 5px;
	color: #000;
}

.override .paginate-template-two {
	padding-bottom: 20px;
}

.override .paginate-template-two a {
	border-radius: 0;
	border-color: #dcdcdc;
	color: #000;
}

.override .paginate-template-two a.paginate-active {
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
	border-color: transparent;
	color: #000;
}

/* Buttons */
.override .font-yellow {
	color: #ffac00;
}

.override .button {
	border-radius: 0;
	font-weight: bold;
}

.override .button.button-primary,
.override .button.button-primary.button-circle>i {
	background: #ffad00;
	background: -webkit-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: -o-linear-gradient(#ffad00 0%, #ffcb17 100%);
	background: linear-gradient(#ffad00 0%, #ffcb17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad00', endColorstr='#ffcb17',GradientType=0 );
	color: #000;
	font-weight: bold;
}

/* Form Control */
.override .form-control {
	border-radius: 0;
}


@media screen and (max-width: 767px) {
	.header-center .logo img {
		max-height:55px
	}
}