
/* Reset And Base Styles */

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;font-size:100%;margin:0;padding:0;}ol,ul{list-style:none;}blockquote,q{quotes:none;}:focus{outline:0;}a, img, input{outline:expression(hideFocus='true');outline:none;border:0;text-decoration:none;}div{outline:expression(hideFocus='true');outline:none;}a:hover a:focus a:active{outline:expression(hideFocus='true');outline:none;}img{-ms-interpolation-mode:bicubic;zoom:1;}

.slider{
	width:1000px;
	height:87px;
  	position:relative;
 	background:url(../img/bg_slider.png);
}
 
 /* slider wrapper style */

.bx-wrapper {position:relative;margin:0 auto;*zoom:1;padding:0;height:87px;}
.bx-wrapper img {max-width:100%;display:block;margin:0 auto;max-height: 76px;}
.bx-wrapper .bx-viewport {z-index:999;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position:absolute;bottom:10px;width:100%;z-index:999;}
 
/* Loading Style */

.bx-wrapper .bx-loading {min-height:50px;background:url(../img/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}

/* Next and Prev Style */

.bx-controls.bx-has-controls-direction {
	margin:0 auto;
	width: 945px;
	height:30px;
	position:absolute;
	top:12px;
	left: -40px;
	right:0;
}

.bx-wrapper .bx-prev {
	left:5px;
	top: 22px;
	background:url(../img/button_carousel.png) no-repeat left top;
}

.bx-wrapper .bx-prev:hover {
	background-position:left bottom;
}

.bx-wrapper .bx-next {
	right:5px;
	background:url(../img/button_carousel.png) no-repeat right top;
	top:27px;
}

.bx-wrapper .bx-next:hover {
	background-position:right 99%;
}

.bx-wrapper .bx-controls-direction a {
	position:absolute;
	outline:0;
	width: 12px;
	height: 20px;
	text-indent:-9999px;
	z-index:9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display:none;
}

/* Pager Style */

.bx-wrapper .bx-pager {
	color:#FFF;
	font-size:.85em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:right;
	position:absolute;
	top:-30px;
	right:0;
	height:15px;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display:inline-block;
	*zoom:1;
	*display:inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	width:11px;
	height:11px;
	display:block;
	outline:0;
	text-indent:-9999px;
	margin:0 2px;
	background:url(../img/bullets.png) right top no-repeat;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-position:1px top;
}

/* Start and Stop Control */

.bx-wrapper .bx-controls-auto {
	text-align:center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display:block;
	text-indent:-9999px;
	width:10px;
	height:11px;
	outline:0;
	background:url(../img/controls.png) -86px -11px no-repeat;
	margin:0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position:-86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display:block;
	text-indent:-9999px;
	width:9px;
	height:11px;
	outline:0;
	background:url(../img/controls.png) -86px -44px no-repeat;
	margin:0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position:-86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align:left;
	width:80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right:0;
	width:35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.bx-wrapper .bx-caption span {
	color:#fff;
	font-family:Arial;
	display:block;
	font-size:.85em;
	padding:10px;
}
 
.bxslider li a{
	display:block;
	position:relative;
	height: 88px;
}
.bxslider li a img{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}