<% include ../includes/header %>
<div class="gap"></div>
<style>
  .form-group{
        margin: 20px 20px 20px 20px;
  }
</style>
<div class="container">
    <div class="row">
      <form id="myForm" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
        <div class="col-md-8 field">
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">Hesap<br /><small> Bilgileri</small></a></li>
                    <li><a href="#step-2">Adres<br /><small> Bilgileri</small></a></li>
                    <li><a href="#step-3">Ödeme<br /><small> Methodu</small></a></li>
                    <li><a href="#step-4">Ödeme<br /><small> İşlemi</small></a></li>
                </ul>
                <div>
                    <div id="step-1">
                        <div id="form-step-0" role="form" data-toggle="validator">
                          <% if(sesUser) { %>
                            <div class="form-group">
                              <span class="funky-font blue-tag">Hoşgeldin <%= sesUser.name %></span>
                            </div>
                          <% } else{ %>
                            <div class="form-group">
                              <ul class="checkbox-list">
                                  <li class="checkbox">
                                      <label id="user_method_guest"><input name="login_method" id="guest" type="radio" value="guest" class="" required>Misafir olarak</label>
                                  </li>
                                  <li class="checkbox">
                                      <label id="user_method_login"><input name="login_method" id="login" type="radio" value="login" class="" >Giriş yap</label>
                                  </li>
                                  <li class="checkbox">
                                      <label id="user_method_register"><input name="login_method" id="register" type="radio" value="register" class="">Kayıt ol</label>
                                  </li>
                              </ul>
                              <div class="help-block with-errors"></div>
                            </div>
                          <% } %>
                        </div>

                    </div>
                    <div id="step-2">
                      <legend style="margin-left:20px;">Teslimat Bilgileri</legend>
                      <div id="form-step-1" role="form" data-toggle="validator">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Adınız</label>
                              <input type="text" id="name" name="name" <% if(sesUser) { %> value="<%=sesUser.name%>" <% } %> class="form-control" required>
                            </div>
                            <div class="col-md-6 field">
                              <label for="">Soyadınız</label>
                              <input type="text" id="surname" name="surname" <% if(sesUser) { %> value="<%=sesUser.surname%>" <% } %> class="form-control" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Telefon numaranız</label>
                              <input type="text" id="mobil" name="mobil" <% if(sesUser) { %> value="<%=sesUser.mobil %>" <% } %> class="form-control" required>
                            </div>
                            <div class="col-md-6 field">
                              <label for="">E-posta</label>
                              <input type="text" id="email" name="email" <% if(sesUser) { %> value="<%=sesUser.email %>" <% } %> class="form-control" required>
                            </div>
                          </div>
                        </div>

                        <legend  style="margin-left:20px;">Teslimat adresi</legend>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">İl</label>

                              <select class="form-control" id="county"  name="county" placeholder="İl Seçiniz" required>
                                <option value="">Şehir Seçiniz</option>
                                <% county = JSON.parse(county); %>
                                <% county.forEach(function(sehir){ %>
                                <option value="<%= sehir.id %>"><%= sehir.name %></option>
                                <%})%>
                              </select>
                            </div>
                            <div class="col-md-6 field">
                              <label for="">İlçe</label>
                              <input type="text" id="district" name="district" class="form-control" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Adres</label>
                              <input type="text" id="address" name="address" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                              <label for="">Posta kodu</label>
                              <input type="text" id="zipcode" name="zipcode" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="">Açıklama</label>
                            <textarea type="text" id="message" name="message" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <div id="step-3">
                        <legend style="margin-left:20px;">Ödeme Methodu</legend>
                        <div id="form-step-2" role="form" data-toggle="validator">
                          <div class="form-group">
                            <ul class="checkbox-list">
                                <li class="checkbox">
                                    <label><input name="payment_method" id="payment_method_kapida" type="radio" value="method_kapida" class="i-check" required>Kapıda Ödeme - Nakit</label>
                                </li>
                                <li class="checkbox">
                                    <label><input name="payment_method" id="payment_method_kapida-kk" type="radio" value="method_kapida-kk" class="i-check">Kapıda Ödeme - Kredi Kart</label>
                                </li>
                                <li class="checkbox">
                                    <label><input name="payment_method" id="payment_method_bank" type="radio" value="method_bank" class="i-check">Havale - EFT</label>
                                </li>
                                <!--
                                <li class="checkbox">
                                    <label><input name="payment_method" id="payment_method_card" type="radio" value="method_cart" class="i-check">Kredi Kartı</label>
                                </li>
                              -->
                            </ul>
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                    </div>
                    <div id="step-4" class="">
                        <div id="form-step-3" role="form" data-toggle="validator">
                          <div class="form-group">
                            <div id="credit-cart" class="credit-cart">

                            </div>
                            <div id="witout-credit-cart" class="credit-cart">
                              <h4>Teslimat Bilgiler</h4>
                              <table class="table table-hover">
                                <tbody>
                                  <tr>
                                    <td>Adınız Soyadınız</td>
                                    <td id="user_name"></td>
                                  </tr>
                                  <tr>
                                    <td>E-Posta</td>
                                    <td id="user_email"></td>
                                  </tr>
                                  <tr>
                                    <td>Mobil</td>
                                    <td id="user_mobil"></td>
                                  </tr>
                                  <tr>
                                    <td>Teslimat Adresi</td>
                                    <td id="user_address"></td>
                                  </tr>
                                  <tr>
                                    <td>Mesajınız</td>
                                    <td id="user_message"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 field">
          <aside class="sidebar-left">
            <div class="box clearfix">
                <table class="table">
                    <thead>
                        <tr>
                          <th>Ürün</th>
                          <th>Adet</th>
                          <th>Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% var total = 0 %>
                      <%if(sesCart) { %>
                      <% sesCart.forEach(function(item){ %>
                        <tr>
                          <td><%= item.name %></td>
                          <td><%= item.quantity %></td>
                          <td><%= (item.price * item.quantity).toFixed(2) %> <%- siteSettings.settings_currency %></td>
                        </tr>
                        <% total += item.price * item.quantity %>
                        <% }) %>
                        <% }else{ %>
                        <span class="text-danger">Gösterilecek Ürün Bulunmamakta</span>
                        <% } %>
                    </tbody>
                </table>
                <ul class="cart-total-list text-center mb0">
                    <li>
                      <span>Ara Toplam : </span><span id="ara_total"><%=total.toFixed(2) %> </span> <%- siteSettings.settings_currency %>
                    </li>
                    <li>
                      <span>Kargo Ücreti : </span><span id="shipping-price">0 </span> <%- siteSettings.settings_currency %>
                      <input id="shipping-price-post" type="hidden" name="shipping_total" value="0">
                    </li>

                    <li>
                      <span>Genel Toplam : </span><span><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></span>
                      <input type="hidden" id="ara_genel_total_post" name="grand_total" value="<%= total.toFixed(2) %>">
                    </li>
                </ul>
            </div>
          </aside>
        </div>
        <div class="gap"></div>
      </form>
    </div>
</div>
<script>
  $( "input" )
    .keyup(function() {
      var name     = $( "#name" ).val();
      var surname  = $( "#surname" ).val();
      var mobil  = $( "#mobil" ).val();
      var email  = $( "#email" ).val();
      var county  = $( "#county" ).val();
      var district  = $( "#district" ).val();
      var address  = $( "#address" ).val();
      var zipcode  = $( "#zipcode" ).val();
      var payment  = $( ".i-check" ).val();
      var message  = $( "#message" ).val();
      $('#user_name').html(name+ ' ' +surname);
      $('#user_mobil').html(mobil);
      $('#user_email').html(email);
      $('#user_address').html(address+', '+district+' / '+county+', '+zipcode);
      $('#user_message').html(message);
      $('#user_payment_type').html(payment);
    })
  .keyup();

</script>
<% include ../includes/footer %>
