
              <ul class="payment-wizard">
                  <li class="active">
                    <div class="wizard-heading">1. Kulanıcı Bilgileri<span class="icon-user"></span></div>
                    <div class="wizard-content">
                      <p>
                        <ul class="checkbox-list">
                            <li class="checkbox">
                                <label id="user_method_guest"><input name="login_method" id="guest" type="radio" value="guest" class="" required>Misafir olarak</label>
                            </li>
                            <li class="checkbox">
                                <label id="user_method_login"><input name="login_method" id="login" type="radio" value="login" class="" >Giriş yap</label>
                            </li>
                            <li class="checkbox">
                                <label id="user_method_register"><input name="login_method" id="register" type="radio" value="register" class="">Kayıt ol</label>
                            </li>
                        </ul>
                    </p>
                      <button class="btn-green done enabledfor" id="postUser" disabled type="button">Devam</button>
                    </div>
                  </li>
                  <li>
                    <div class="wizard-heading">2. Teslimat Bilgileri<span class="icon-location"></span></div>
                    <div class="wizard-content">
                      <p>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Adınız</label>
                              <input type="text" name="name" class="form-control" required>
                            </div>
                            <div class="col-md-6 field">
                              <label for="">Soyadınız</label>
                              <input type="text" name="surname" class="form-control" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Telefon numaranız</label>
                              <input type="text" name="mobil" class="form-control">
                            </div>
                            <div class="col-md-6 field">
                              <label for="">E-posta</label>
                              <input type="text" name="email" class="form-control">
                            </div>
                          </div>
                        </div>

                        <legend>Teslimat adresi</legend>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">İl</label>
                              <input type="text" name="county" class="form-control">
                            </div>
                            <div class="col-md-6 field">
                              <label for="">İlçe</label>
                              <input type="text" name="district" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 field">
                              <label for="">Adres</label>
                              <input type="text" name="address" class="form-control">
                            </div>
                            <div class="col-md-6">
                              <label for="">Posta kodu</label>
                              <input type="text" name="zipcode" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="">Açıklama</label>
                            <textarea type="text" name="message" class="form-control"></textarea>
                        </div>
                      </p>

                      <button class="btn-green done" id="postAddress" disabled type="button">Devam</button>
                    </div>
                  </li>
                  <li>
                    <div class="wizard-heading">3. Sipariş Detayı<span class="icon-summary"></span></div>
                    <div class="wizard-content">
                      <p>
                        <div class="box clearfix">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Ürün</th>
                                  <th>Adet</th>
                                  <th>Fiyat</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% var total = 0 %>
                            <%if(sesCart) { %>
                            <% sesCart.forEach(function(item){ %>
                              <tr>
                                  <td><%= item.name %></td>
                                  <td><%= item.quantity %></td>
                                  <td><%= (item.price * item.quantity).toFixed(2) %> <%- siteSettings.settings_currency %></td>
                              </tr>
                              <% total += item.price * item.quantity %>
                              <% }) %>
                              <% }else{ %>
                              <span class="text-danger">Gösterilecek Ürün Bulunmamakta</span>
                              <% } %>
                          </tbody>
                      </table>
                      <ul class="cart-total-list text-center mb0">
                          <li>
                            <span>Ara Toplam : </span><span id="ara_total"><%=total.toFixed(2) %> </span> <%- siteSettings.settings_currency %>
                          </li>
                          <li>
                            <span>Kargo Ücreti : </span><span id="shipping-price">0 </span> <%- siteSettings.settings_currency %>
                            <input id="shipping-price-post" type="hidden" name="shipping_total" value="0">
                          </li>

                          <li>
                            <span>Genel Toplam : </span><span><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></span>
                            <input type="hidden" id="ara_genel_total_post" name="grand_total" value="<%= total.toFixed(2) %>">
                          </li>
                      </ul>
                  </div>
                </p>
                      <button class="btn-green done" type="button">Devam</button>
                    </div>
                  </li>
                  <li>
                    <div class="wizard-heading">4. Ödeme Methodu<span class="icon-mode"></span></div>
                    <div class="wizard-content">
                      <div class="panel-body">
                        <ul class="checkbox-list">
                            <li class="checkbox">
                                <label><input name="payment_method" id="payment_method_kapida" type="radio" value="method_kapida" class="i-check" required>Kapıda Ödeme - Nakit</label>
                            </li>
                            <li class="checkbox">
                                <label><input name="payment_method" id="payment_method_kapida-kk" type="radio" value="method_kapida-kk" class="i-check">Kapıda Ödeme - Kredi Kart</label>
                            </li>
                            <li class="checkbox">
                                <label><input name="payment_method" id="payment_method_bank" type="radio" value="method_bank" class="i-check">Havale - EFT</label>
                            </li>
                            <li class="checkbox">
                                <label><input name="payment_method" id="payment_method_card" type="radio" value="method_cart" class="i-check">Kredi Kartı</label>
                            </li>
                        </ul>
                      </div>
                      <button class="btn-green" type="submit">Siparişi Tamamla</button>
                    </div>
                  </li>
                </ul>
