<% include ../includes/header %>
<!-- SEARCH AREA -->

       <!-- END SEARCH AREA -->

       <div class="gap"></div>

       <div class="container">
           <div class="row">
             <% if(sesCart){ %>
               <div class="col-md-8">
                   <table class="table cart-table">
                       <thead>
                           <tr>
                               <th>Ürün</th>
                               <th>İsim</th>
                               <th>Adet</th>
                               <th>Fiyat</th>
                               <th>İşlemler</th>
                           </tr>
                       </thead>
                       <tbody>
                         <% var total = 0 %>
                         <% var max   = 0 %>
                         <% sesCart.forEach(function(item) { %>
                         <% var limit = item.minimum %>
                         <% max = Math.max(limit) %>
                         <% total += item.price * item.quantity %>
                           <tr id="<%= item.id %>">
                               <td class="cart-item-image">
                                   <a href="urun/<%= item.slug %>-<%= item.id%>">
                                       <img src="<%= item.img %>" alt="<%= item.name %>" title="<%= item.name %>" style="width:75px;"/>
                                   </a>
                               </td>
                               <td><a href="urun/<%= item.slug %>-<%= item.id%>" style="color:#000;"><%= item.name %></a>
                               </td>
                               <td class="cart-item-quantity quantity"><a  onclick="calculate($(this))" class="minus"><i class="fa fa-minus cart-item-minus"></i></a>
                                   <input type="text" name="cart" class="cart-quantity qty" value="<%=item.quantity %>" name="cart"/>
                                   <a  onclick="calculate($(this))" class="plus" value="+"><i class="fa fa-plus cart-item-plus"></i></a>
                                   <input type="hidden" id="price" value="<%=item.price %>"/>
                               </td>
                               <td class="total"><input type="hidden" id="price" value="<%=item.price %>"/><span class="price"><%=item.price %></span> <%- siteSettings.settings_currency %></td>
                               <td class="cart-item-remove">
                                   <a class="fa fa-times" href="/remove-from-cart/<%=item.id%>"></a>
                               </td>
                           </tr>
                           <% }) %>
                           <input type="hidden" id="tot" class="tot" name="tot" value="<%=total.toFixed(2) %>"/>
                           <input type="hidden" id="max" class="max" name="max" value="<%=max %>"/>
                       </tbody>
                   </table>	<a href="/" class="btn btn-primary">Alışverişe Devam Et</a>
               </div>
               <div class="col-md-3">
                   <ul class="cart-total-list">

                       <li><span>Genel Toplam: </span><strong id="totalPrice" value="<%=total.toFixed(2) %>"> <%=total.toFixed(2) %></strong> <%- siteSettings.settings_currency %></li>
                   </ul>
                   <a href="/checkout_update" id="toCheckout" class="btn btn-primary btn-lg">Siparişi Tamamla</a>
               </div>
               <% }%>
           </div>
           <div class="gap"></div>
       </div>

       <% include ../includes/footer %>
