<% include ../includes/header %>

<div class="gap"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="row">


                            <h3>Sipariş Tamamlandı.</h3>
                            <p>Siparişiniz başarıyla tarafımıza ulaşmıştır. en kısa sürede hazırlanıp kargolanacaktır.</p>
                            <a href="/" class="btn btn-primary">Ana Sayfa</a>

                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>



<% include ../includes/footer %>
