<% include ../includes/header %>
        <!-- SEARCH AREA -->
    
        <!-- END SEARCH AREA -->

        <div class="gap"></div>



        <div class="container">
            <h1 class="title-hero">

				404

			</h1>
            <h1>Üzgünüm, aradığınız sayfa bulunamadı.</h1>
            <div class="gap gap-small"></div><a href="/" class="btn btn-primary btn-mega">Ana Sayfaya Dön</a>
            <div class="gap"></div>
        </div>
      <% include ../includes/footer %>
