<% include ../includes/header.ejs %>
<% var products_alike = JSON.parse(product).like_product %>
<% product =JSON.parse(product).product %>
<% if (product.option){ %>
<% var options =JSON.parse(product.option) %>
<% } %>
<div id="mainContainer">
    <div class="contentMediaBanner _clearfix" style="margin-top:10px">
        <div class="banner-1 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_1.png" alt="Güvenli Alışveriş"></div>
        <div class="banner-2 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_2.png" target="_blank" alt=""></div>
        <div class="banner-3 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_3.png" alt=""></div>
        <div class="banner-4 mR10 _floatLeft"><img src="themes/4x4/assets/img/banner_4.png" alt=""></div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
        <tr>
            <!-- BLOCKS BEGIN -->
            <% include ../includes/leftbar.ejs %>
            <!-- BLOCKS END -->
            <td valign="top">
                <div class="contentSection">
                    <script type="text/javascript">
                        var ideaCompare = new IdeaCompare(10);
                    </script>
                    <script type="text/javascript">
                        function removeFromCompare(element) {
                            ideaCompare.removeFromCompare(element);
                        }
                    </script>
                    <div id="comparebox" style="display:none;width:1000px;height:600px;"><iframe id="compareframe" style="background-color:#FFFFFF;width:100%;height:100%;" scrolling="auto" frameborder="0" src=""></iframe></div>
                    <script>
                        var buttonsDir = 'selfbtn_1';
                    </script>
                    <div id="labelNavigation" class="mB10 _fontWeightBold">
                        <div class="h2 _line"></div>
                        <div class="fs10 pT5 pB5">
                            <div class="w6 h6 mR5 id-icon-dot _displayInlineBlock"></div><a class="_displayInlineBlock labelActive" href="urun/<%= product.slug %>"><%= product.name %></a><br> </div>
                        <div class="h2 _line"></div>
                    </div>

                    <div class="notification warning mB5" style="display:none" id="WarningBoxAjax"></div>

                    <div class="ContentBox2" id="ProductBox">
                        <div class="Header _clearfix" id="ProductBox_Header">
                            <div style="float:left;">
                                <%=product.name%>
                            </div>
                            <div style="float:right;"><span id="DialogLoader" style="display:none;"><img src="themes/4x4/assets/img/spinner.gif"></span></div>
                        </div>
                        <div id="ProductBox_Body" class="_myAccountContainer">


                            <iframe class="_displayNone" src="" id="exportFrame" name="exportFrame"></iframe>

                            <div id="Item_10202">

                                <div class="ContentDialog" id="OpenPaymentOptions">
                                    <div class="boxHeader" id="OpenPaymentOptions_Header">
                                        Taksit Seçenekleri
                                        <div class="fright">
                                            <span id="DialogLoader" style="display:none;"><img src="themes/4x4/assets//img/spinner.gif" alt=""></span>
                                        </div>
                                    </div>
                                    <div class="boxContent" id="OpenPaymentOptions_Body">
                                    </div>
                                </div>

                                    <div class="productArea">
                                        <table class="wpe100 _borderNone" valign="top" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <div class="productLeft">
                                                        <div class="productImages">

                                                        <a id="pImageLink" rel="lightbox1" type="start" lightbox-link="<%=product.thumbnail%>" lightbox-alt="<%=product.name%>">
                                                            <img itemprop="image" alt="<%=product.name%>" title="<%=product.name%>" class="borderNone" id="BPrimaryImage_burasi" src="<%=product.thumbnail%>" style="opacity: 1;"> </a>
                                                        </div>

                                                        <div class="thumbsImage _clearfix">
                                                          <%
                                                            var counter = 0;
                                                            product.images.forEach(function(image){
                                                            var url = image.url;
                                                            var new_url = url.split("?size=large");
                                                            %>
                                                            <a href="javascript:ChangePic('<%=image.url%>', '<%=image.url%>', <%= image.id %>)" rel="lightbox1" lightbox-link="<%=image.url%>" lightbox-alt="<%=product.url%>" class="thumbsActive">
                                                                <img src="<%=image.url%>" alt="<%=product.name%>" border="0" style="width:40px;">
                                                            </a>
                                                            <% counter++ %>
                                                            <%})%>
                                                        </div>
                                                        <div class="s10"></div>

                                                    </div>
                                                </td>
                                                <td valign="top">
                                                    <div class="productRight">
                                                        <div class="productTitle" id="urun_adi">
                                                            <h1><span itemprop="name"><%= product.name%></span></h1>
                                                        </div>
                                                        <div class="productPrice _clearfix">

                                                            <div id="kdv_dahil_cevrilmis_fiyat" class="productPriceOne ">
                                                                <div style="display:inline;" itemprop="offers" itemscope="" >
                                                                    <meta itemprop="priceCurrency" content="TRY">
                                                                    <span> <%=product.price%>   </span>

                                                                </div>
                                                              </div>

                                                        </div>
                                                        <div id="havale_indirimli_fiyat" class="productPriceThree" style="display: none;">
                                                            Havale / Tek Çekim: <span></span>
                                                        </div>
                                                        <table class="wpe100 _borderNone" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr id="etiketler_tip_2" class="rowspan row1">
                                                                <td class="col1">Kategori</td>
                                                                <td class="col2">:</td>
                                                                <td class="col3">
                                                                    <%product.categories.forEach(function(category){ %>
                                                                    <a href="kategori/<%=category.slug%>" title="<%category.meta_description%>">
                                                                        <%=category.name%>
                                                                    </a>
                                                                    <%})%>
                                                                </td>
                                                            </tr>
                                                            <tr id="etiketler_tip_3" class="rowspan row2">
                                                                <td class="col1">Marka</td>
                                                                <td class="col2">:</td>
                                                                <td class="col3"><a href="/marka/britpart" title="&quot;Britpart&quot; Marka etiketine sahip diğer ürünler"><span itemprop="brand">Britpart</span></a></td>
                                                            </tr>

                                                            <tr id="stok_kodu" class="rowspan row9">
                                                                <td class="col1">Stok Kodu</td>
                                                                <td class="col2">:</td>
                                                                <td class="col3">#<%=product.id%></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="productCartButton" id="sepet_butonlari">
                                                            <div class="productPiece _clearfix" id="birim">
                                                                <div class="_displayNone">2</div>
                                                                <div class="productPieceLeftArrow _floatLeft"></div>
                                                                <div class="productPieceInput _floatLeft">
                                                                    <input type="text" id="quantity_10202" name="quantity_10202" value="1" class="_typeInput">
                                                                </div>
                                                                <div class="productPieceRightArrow _floatLeft"></div>
                                                            </div>
                                                            <div class="_floatLeft mR10">
                                                                <a href="javascript:void(0)"
                                                                  
                                                                    data-id="<%= product.id %>"
                                                                    data-minimum="<% if(product.discounts.length) { %> <%= product.discounts[0].minimum_cart %> <% } %>"
                                                                    data-slug="<%= product.slug %>"
                                                                      <% if(product.price_discount) {%>
                                                                    data-price="<%= product.price_after_discount %>"
                                                                      <%}else{ %>
                                                                    data-price="<%= product.price_sale %>"
                                                                      <%}%>
                                                                    data-img="<% if(product.images.length) { %> <%= product.images[0].url %> <% } %>"
                                                                    data-name="<%= product.name %>"
                                                                    data-option=""
                                                                    data-option-check="<% if (product.option){ %><%= product.option.length %><%}%>"
                                                                    onclick="addToCart($(this))">
                                                                    <img class="_borderNone globalProductCartButton"  src="themes/4x4/assets/img/addtocart.gif">
                                                                  </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="s10"></div>
                                    </div>
                                    <div class="s10"></div>

                                    <div class="productTabContainer">
                                        <div class="productTabHeader">
                                            <ul>
                                                <li id="tabs_1" class="DivMenuActive"><a href="javascript:Tab(1);">Ürün Bilgisi</a></li>
                                                <li id="tabs_3" class="DivMenuPassive"><a href="javascript:Tab(3);">Benzer Ürünler</a></li>

                                            </ul>
                                        </div>
                                        <div class="productTabContent">
                                            <div style="display: block;" id="contents_1">
                                                <div class="ProductDetail">
                                                    <%- product.description %>
                                                </div>
                                            </div>
                                            <div style="display:none;" id="contents_3"></div>

                                        </div>
                                    </div>
                                    <div class="s10"></div>


                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<% include ../includes/footer.ejs %>
