<div class="showcase">
    <div class="newBadge"></div>
    <% if(product.price_discount){%>
    <div class="rebateBadge">%
        <span><%= product.price_discount%></span>
    </div>
    <%}%>
    <div class="showcasePicture">
        <a href='urun/<%= product.slug%>-<%=product.id%>'>
        <img id='product_min_image_10713' src='<%=product.thumbnail %>' alt="<%= product.name%>" title="<%= product.name%>" />
        </a>
    </div>
    <div class="showcaseItem">
        <div class="showcaseTitle">
            <a href="urun/<%=product.slug%>-<%=product.id%>">
               <%=product.name%>
            </a>
        </div>
        <div class="showcasePrice">
            <% if(product.price_discount){%>
              <div class="showcasePriceTwo" style="display:inline-block">
                    <%=product.price_sale%> <%-siteSettings.settings_currency%>
              </div>
              <div class="showcasePriceOne" style="display:inline-block">
                    <%= product.price_after_discount%> <%- siteSettings.settings_currency %> <span></span>
              </div>
            <%}else{%>
              <div class="showcasePriceOne">
                  <%= product.price_sale %> <%- siteSettings.settings_currency %> <span></span>
              </div>
            <%}%>
        </div>
    </div>
</div>
