<% pages = siteSettings.pages;%>
    <div id="footer">
        <div class="footerInside">
            <div class="footerMiddle _clearfix">
                <div class="footerMiddleLeft _floatLeft">
                    <div class="footerLinks">
                        <ul class="_clearfix">
                            <li>
                                <div class="footerLinksTitle">ÜYELİK VE SİPARİŞ</div>
                                <ul class="_clearfix">
                                    <li><a href="kayit-ol">Yeni Üyelik</a>
                                    </li>
                                    <li><a href="giris-yap">Üye Girişi</a>
                                    </li>
                                    <li><a href="parola-sifirla">Şifremi Unuttum</a>
                                    </li>
                                    <li><a href="sayfa/mesafeli-satis-sozlesmesi.html?do=dynamic/view&amp;pid=1">Satış Sözleşmesi</a>
                                    </li>
                                    <li><a href="sayfa/odeme-ve-teslimat.html?do=dynamic/view&amp;pid=2">Ödeme ve Teslimat</a>
                                    </li>
                                    <li><a href="indexb701.html?do=dynamic/view&amp;pid=3">Gizlilik ve Güvenlik</a>
                                    </li>
                                    <li><a href="index7686.html?do=dynamic/view&amp;pid=4">Garanti Şartları</a>
                                    </li>
                                    <li><a href="indexbaf0.html?do=dynamic/view&amp;pid=5">İade Şartları</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="footerLinksTitle">HESABINIZ</div>
                                <ul class="_clearfix">
                                    <li><a href="hesabim">Hesap Bilgileriniz</a>
                                    </li>
                                    <li><a href="siparis-takip">Sipariş Takip</a>
                                    </li>
                                    <li><a href="giris-yap">Favorileriniz</a>
                                    </li>
                                    <li><a href="sepet">Sepetiniz</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="footerLinksTitle">KURUMSAL</div>
                                <ul class="_clearfix">
                                    <% pages.forEach(function(page){ if(page.type==1){%>
                                    <li><a href="/sayfa/<%=page.slug%>"><%=page.name%></a></li>
                                    <%}})%>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="footerBottom _clearfix">
                <div class="footerBottomLeft _floatLeft _clearfix">
                    <div class="footerBanner _floatLeft">
                        <div class="banner-1">
                            <a href="#"><img src="themes/4x4/assets/img/banner_11.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footerCopy _floatLeft">Kredi kartı bilgileriniz 256 Bit SSL sertifikası ile korunmaktadır.
                        <br />© 2017 {{$settings['name']}} Mail : <a href="mailto:" style="color:#FFF">info@4x4leddunyasi.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="themes/4x4/cart.js"></script>
    <%- toasts %>
    </body>
</html>
