<% siteSettings = JSON.parse(siteSettings);  %>
<% siteCategories = JSON.parse(siteCategories);  %>
<% companyInfo = JSON.parse(companyInfo); %>
<% var addresses = siteSettings.addresses;%>
<% brands = siteSettings.brands;%>
<!DOCTYPE HTML>
<html>
    <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
      <meta http-equiv='Content-Language' content='tr' />
      <meta content="origin" name="referrer">
      <meta name='description' content="" />
      <meta name='keywords' content="" />
      <meta name='title' content="" />
      <meta name="google-site-verification" content="" />
      <base href="http://4x4.lapia.net/">
      <meta name="csrf-token" content="{{ csrf_token() }}">
      <meta http-equiv='Copyright' content='Copyright © 2017 PIA E-Commerce Design' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <link rel='stylesheet' type='text/css' href='themes/4x4/assets/css/global.css' />

      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">

      <script type='text/javascript' src='themes/4x4/assets/js/combined.js'></script>
      <script type='text/javascript' src='themes/4x4/assets/js/combined_optional.js'></script>
      <script type='text/javascript' src='themes/4x4/assets/js//mask.js'></script>
      <script type='text/javascript' src='themes/4x4/assets/js/rightdropdown.js'></script>

      
      <link rel='shortcut icon' href='faviconceb3.ico?revision=6.3.9' type='image/x-icon'>
      <link rel='icon' href='faviconceb3.ico?revision=6.3.9' type='image/x-icon'>

      <link rel="canonical" href="{{$settings['url']}}" />

      <script type="text/javascript">
        jQuery(function() {
            jQuery("img.lazy").lazyload({
                effect: "fadeIn",
                effectspeed: 500,
                skip_invisible: false
            });
        });
      </script>
      <title>4x4 led dünyası</title>
      <link href="themes/4x4/assets/css/theme.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=1080">
    </head>

    <body onLoad="">
        <script type="text/javascript" src="themes/4x4/assets/js/theme.js"></script>
        <script type="text/javascript" src="themes/4x4/assets/js/user.js"></script>
        <script type="text/javascript">
          function sliderHref() {
              var sliderlink = jQuery('.contentMediaSlider ._imageActive a').attr('href');
              var sliderlinktarget = jQuery('.contentMediaSlider ._imageActive a').attr('target');
              if (sliderlinktarget == "_blank") {
                  window.open(sliderlink, '_blank')
              } else {
                  window.location.href = sliderlink;
              }
          }

          jQuery(function() {
              jQuery('.carouselTab').tabs();
              jQuery('.carouselTab ._tabContent > div').each(function() {
                  var showcaseLength = jQuery(this).find('.showcase').length;
                  if (showcaseLength == 0) {
                      jQuery(this).html('<div class="tabTitle">ÜRÜN BULUNAMADI</div>');
                  }
              });



            jQuery('.allBrandMenu').hover(function() {
                jQuery(this).find('.allBrandContent').fadeIn(200);
                jQuery(this).find('> a').addClass('allBrandActiveLink');
            }, function() {
                jQuery(this).find('.allBrandContent').stop(true, true).fadeOut(200);
                jQuery(this).find('> a').removeClass('allBrandActiveLink');
            });

            jQuery('.allBrandMenu').hover(function() {
                jQuery(this).find('.allBrandContent').fadeIn(200);
                jQuery(this).find('> a').addClass('allBrandActiveLink');
            }, function() {
                jQuery(this).find('.allBrandContent').stop(true, true).fadeOut(100);
                jQuery(this).find('> a').removeClass('allBrandActiveLink');
            });



            jQuery('.allCategoryMenu').hover(function() {
                jQuery(this).find('.allCategoryContent').fadeIn(200);
                jQuery(this).find('> a').addClass('allCategoryActiveLink');
            }, function() {
                jQuery(this).find('.allCategoryContent').stop(true, true).fadeOut(200);
                jQuery(this).find('> a').removeClass('allCategoryActiveLink');
            });
        });
        </script>
        <div id="wrapper">
<div id="header" <% if(url =='/'){%> class="headerEntry" <%}%>>
  <div class="headerInside">
      <div class="headerLeft _floatLeft">
        <a href="/" class="logo" title="{{$settings['name']}}">
            <img src="themes/4x4/4x4-logo.png" alt="<%=siteSettings.name%>" />
        </a>
    </div>
      <div class="headerRight _floatRight">
        <div class="headerRight-Top _clearfix">
            <div class="userMenu">
                <ul class="_clearfix">
                    <%if(sesUser){%>
                    <li>
                        <a href="/profil">Hoşgeldin, <%=sesUser.name %></a>
                    </li>
                    <%}else{%>
                    <li class="userMenuLogin">
                        <a href="giris">Giriş Yap</a>
                    </li>
                    <li class="userMenuSignup">
                        <a href="kayit-ol">Kayıt Ol</a>
                    </li>

                    <%}%>
                </ul>
            </div>
        </div>
        <div class="headerRight-Bottom _clearfix">
            <div class="iCart _floatRight">
                <a href="javascript:void(0);">
                    <span class="iCartTitle">SEPETİM</span>
                    <span class="iCartAmount"><span id="CartContainer" style="position:absolute;visibility:hidden;"></span>
    						<span id=""><% if(sesCart){ %> <%=sesCart.length %> <%} else{ %> 0 <%} %></span>
                </a>

                <div class="iCartContent">
                    <div id=""></div>
                    <div id=""><div class="iCartNoProduct">Alışveriş sepetinizde ürün bulunmamaktadır.</div>
                  <span>TOPLAM:</span> <div> 0 TL</div></div>
                    <div class="iCartTotalAmount _clearfix">
                        <div class="iCartPriceTotalAmount _clearfix"></div>
                        <div class="iCartLink">
                            <a href="sepet">SEPETE GİT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="allBrandMenu _floatRight">
                <a href="markalar">MARKALAR</a>
                <div class="allBrandContent">
                    <ul class="_clearfix">
                        <% brands.forEach(function(brand){%>
                        <li>
                            <a href="">
                                <div><img src="<%=brand.image%>" alt="" /></div>
                                <span><%=brand.name%></span>
                            </a>
                        </li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="allCategoryMenu _floatRight">
                <a href="kategoriler">KATEGORİLER</a>
                <div class="allCategoryContent">
                    <ul class="_clearfix">
                        <% for(var i = 0; i < siteCategories.length ; i++){ %>

                        <li>
                            <a href="kategori/<%= siteCategories[i].slug %>">
                                <span><%= siteCategories[i].name %></span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                    <div class="dropMenuBanner">
                        <a href="/"><img src="themes/4x4/assets/img/banner_136c98.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="search _floatRight">
                <a href="#"></a>
                <div class="searchContent">
                    <form name="QuickSearchFrom" action="arama" method="GET">
                        <input type="hidden" name="QuickSearch" value="1">
                        <input type="text" class="searchInputClass QuickSearchBar" name="label" placeholder="Site içi ürün arama..." />
                        <input type="submit" name="Submit" class="searchButton" value="" />
                    </form>
                </div>
            </div>
            <a href="/" class="homePageLink _floatRight"></a>
        </div>
    </div>
  <div class="_clearfix"></div>
  </div>
</div>
