<td valign="top">
    <div class="leftBlocks">
        <!-- BLOCKS BEGIN -->
        <ul id='LeftBlocksList'>
            <li id='li_14' class=''>
                <div class="blockWrapper">
                    <div class="blockTop">Hızlı Arama</div>
                    <div class="blockMiddle">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td valign="top">
                                    <div id="blockQuickSearch" class="_textAlignCenter">
                                        <form name='QuickSearchForm' id='QuickSearchBlock' action='arama/' method='GET' onsubmit='return addSearchLabelToUrl("2");'>
                                            <div class="_fontWeightBold pT10 pB10">
                                                Hızlı Ürün Arama
                                            </div>
                                            <div class="pB10">
                                                <input type="text" name="q" id="QuickSearchBlockLabel" class="_typeInput QuickSearchBar" value="">
                                            </div>
                                            <div class="pB10">
                                                <input name="submit" type="submit" class="redButton buttonMedium" value="Ara">
                                            </div>
                                            <div>
                                                <a href="indexa715.html?do=catalog/results&amp;ref=detail" class="_fontWeightBold _colorRedImportant" title="Detaylı Arama">Detaylı Arama</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
            <li id='li_1' class=''>
                <div class="blockWrapper">
                    <div class="blockTop">Kategoriler</div>
                    <div class="blockMiddle">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td valign="top">

                                    <div class="rightDropDown">
                                        <ul>
                                            <% for(var i = 0; i < siteCategories.length ; i++){ %>

                                            <% if(siteCategories[i].parent_id == 0) { %>

                                            <li>
                                                <a href="kategori/<%= siteCategories[i].slug %>" title="<%= siteCategories[i].name %>"><%= siteCategories[i].name %></a>
                                                <% siteCategories.forEach(function(category){ %>
                                                <%if(siteCategories[i].id == category.parent_id ){ %>
                                                <div class="rightDropDownSubMenu">

                                                    <div class="rightDropDownSubMenu-Left">
                                                        <ul>
                                                            <% siteCategories.forEach(function(category){ %>
                                                            <%if(siteCategories[i].id == category.parent_id ){ %>
                                                            <li> <a href="kategori/<%=category.slug %>" title="<%=category.name %>"><%=category.name %></a></li>

                                                            <%}})%>
                                                        </ul>
                                                    </div>

                                                    <div class="rightDropDownSubMenu-Right">
                                                        <div class="rightDropDownSubMenuImageRow _clearfix">
                                                            <% siteCategories.forEach(function(category){ %>
                                                            <%if(siteCategories[i].id == category.parent_id ){ %>
                                                            
                                                            <%}})%>





                                                        </div>

                                                    </div>
                                                </div>

                                                <%}})%>
                                            </li>
                                            <%}}%>

                                        </ul>
                                    </div>
                                    <script type="text/javascript">
                                        jQuery(document).ready(function() {
                                            jQuery(".rightDropDown").rightDropDown();
                                        });
                                    </script>



                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>


        </ul>
        <!-- BLOCKS END -->

    </div>
</td>
