<% include ../includes/header.ejs %>
<section class="breadcrumb-bg margin-bottom-80">
    <span class="gray-color-mask color-mask"></span>
    <div class="theme-container container">
        <div class="site-breadcrumb relative-block space-75">
            <h2 class="section-title">
                            <span>
                                <span class="funky-font blue-tag">Check</span>
                                <span class="italic-font">Out</span>
                            </span>
            </h2>
            <h3 class="sub-title"> listed products in your cart</h3>
            <hr class="dash-divider">
            <ol class="breadcrumb breadcrumb-menubar">
                <li><a href="#">Home</a>  &gt; <span class="blue-color">Checkout</span> </li>
            </ol>
        </div>
    </div>
</section>
<section id="checkout" class="checkout-wrap">
<div class="theme-container container">

    <div class="cart-collaterals space-40">
        <div class="row">
            <div class="title-wrap col-sm-12">
                <h2 class="section-title">
                                    <span>
                                        <span class="funky-font blue-tag">Sipariş</span>
                                        <span class="italic-font">Listesi</span>
                                    </span>
                </h2>
            </div>
            <div class="col-md-8 col-sm-7">
                <div class="light-bg default-box-shadow">
                    <form class="cart-form">
                        <table class="product-table">
                            <thead>
                            <tr>
                                <th>Img</th>
                                <th>Ürün Adı</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% var total = 0 %>
                            <%if(sesCart) { %>
                            <% sesCart.forEach(function(item){ %>



                            <tr>
                                <td class="image">
                                    <div class="white-bg cart-img">
                                        <a class="media-link" href="#"><img src="<%= item.img %>" alt="" style="max-height: 150px !important;"></a>
                                    </div>
                                </td>
                                <td class="description">
                                    <a href="#"><%= item.name %></a>
                                    <p>Color : Red</p>
                                    <p>Size : 2-4 Year</p>
                                    <a href="{{url('delete-from-card/'.$item['item']['id'])}}" class="remove pink-color"><i class="fa fa-times"></i> Remove </a>
                                </td>
                                <td class="quantity">
                                    <div class="quantity buttons-add-minus">
                                        <%= item.quantity %>
                                    </div>
                                </td>
                                <td class="total"> <strong> <%= (item.price * item.quantity).toFixed(2) %> <%- siteSettings.settings_currency %></strong> </td>
                            </tr>
                            <% total += item.price * item.quantity %>
                            <% }) %>
                            <% }else{ %>
                            <span class="text-danger">Gösterilecek Ürün Bulunmamakta</span>

                            <% } %>
                            </tbody>
                        </table>
                        <div class="continue-shopping">
                            <div class="shp-btn">
                                <a class="blue-btn btn" href="/">Alışverişe Devam Et<i class="fa fa-caret-right"></i></a>
                            </div>
                            <div class="cart-sub-total">
                                <span>Ara Toplam:</span>
                                <strong class="pink-color"><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></strong>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="light-bg default-box-shadow cart_totals_wrap">
                    <div class="cart_totals_box">
                        <div class="title-wrap">
                            <h2 class="section-title">
                                                <span>
                                                    <span class="funky-font blue-tag">Cupon </span>
                                                    <span class="italic-font">code enter here</span>
                                                </span>
                            </h2>
                        </div>
                        <div class="newsletter-form">
                            <form class="newsletter">
                                <div class="form-group col-sm-7 no-padding">
                                    <label class="sr-only">Enter your coupon code</label>
                                    <input type="text" class="form-control" placeholder="Enter your coupon code">
                                </div>
                                <div class="form-group col-sm-5 no-padding">
                                    <button type="submit" class="blue-btn submit-btn btn">apply</button>
                                </div>
                            </form>
                        </div>
                        <table class="cart_totals">
                            <tbody><tr>
                                <th>Subtotal:</th>
                                <td><strong><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></strong></td>
                            </tr>
                            <tr>
                                <th>Shipping Cost :</th>
                                <td><strong><% if(total < parseInt(siteSettings.settings_shipping_limit)){ total = total + parseInt(siteSettings.settings_shipping_price);%> <%= siteSettings.settings_shipping_price %> <%- siteSettings.settings_currency %> <% } else{ %> 0 <%}%> </strong></td>
                            </tr>
                            <tr class="cupon-off">
                                <th>Cupon off :</th>
                                <td><strong class="blue-color">0</strong></td>
                            </tr>
                            <tr class="grand-total">
                                <th>Total :</th>
                                <td><strong class="pink-color"><%= total.toFixed(2) %> <%- siteSettings.settings_currency %></strong></td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/complete_order" method="post" class="form-delivery">
    <div class="row space-35">
        <div class="col-md-6 col-sm-6">
            <div class="title-wrap space-bottom-25">
                <h2 class="section-title">
                                    <span>
                                        <span class="funky-font blue-tag"> Fatura </span>
                                        <span class="italic-font">adresi</span>
                                    </span>
                </h2>
                <% if(sesUser) { %> <h4>Fatura adresinizi değiştirmek için kayıtlı adresinizi güncelleyiniz.</h4>
                <% } else{ %>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" placeholder="İsim" name="name"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Soyisim" name="surname"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Email" name="email"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Telefon" name="mobil"></div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group selectpicker-wrapper">
                            <select class="selectpicker input-price bs-select-hidden" data-live-search="true" data-width="100%" data-toggle="tooltip" title="City" name="county"><option class="bs-title-option" value="">Şehir</option>
                                <option value="istanbul">İstanbul</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Postcode/ZIP" name="zipcode"></div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" placeholder="İlçe" name="district"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group"><textarea class="form-control" placeholder="Adres" name="address" cols="30" rows="10"></textarea></div>
                    </div>

                </div>

                <%}%>
            </div>





        </div>

        <div class="col-md-6 col-sm-6">
            <div class="title-wrap space-bottom-20">
                <% if(sesUser){ %>

                <h2 class="section-title">
                                    <span>
                                        <span class="funky-font pink-tag"> Teslim </span>
                                        <span class="italic-font">adresi</span>
                                    </span>
                </h2>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input id="diff-address" type="checkbox" name="address_status"> Fatura Adresi Ve Teslimat Adresi Aynı Değil Mi?
                </label>
            </div>


            <div class="row">



                <div class="col-md-6">
                    <div class="form-group selectpicker-wrapper">
                        <select class="selectpicker input-price bs-select-hidden" data-live-search="true" data-width="100%" data-toggle="tooltip" title="City" name="county"><option class="bs-title-option" value="">Şehir</option>
                            <option></option>

                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><input class="form-control" type="text" placeholder="Postcode/ZIP" name="zipcode" value=""></div>
            </div>

            <div class="col-md-4">
                <div class="form-group"><input class="form-control" type="text" placeholder="İlçe" name="district" value=""></div>
            </div>

            <div class="col-md-12">
                <div class="form-group"><textarea class="form-control" placeholder="Adres" name="address" cols="30" rows="10"></textarea></div>
            </div>
            <%}%>
        </div>
    </div>
</div>
<div class="row space-top-20 margin-bottom-80 col-md-6">
    <div class="title-wrap space-bottom-25 col-sm-12">
        <h2 class="section-title">
                                <span>
                                    <span class="funky-font blue-tag"> Payments  </span>
                                    <span class="italic-font">options</span>
                                </span>
        </h2>
    </div>
    <div class="col-md-12">
        <ul class="payments-options payment_methods methods">
            <li class="direct-payment_method_bank">
                <label id="direct-transfer" for="payment_method_bank">
                    <input id="payment_method_bank" type="radio" class="input-radio" name="payment_method" value="2" data-order_button_text="">
                    Banka Transferi
                </label><br>
                <div class="direct-transfer-msg msg-box payment_box payment_method_bank" style="display:none;">
                    Banka Transferiyle Ödeme İmkanı
                </div>
            </li>
            <li class="payment_method_kapida">
                <label id="direct-payment_method_kapida" for="payment_method_kapida">
                    <input id="payment_method_kapida" type="radio" class="input-radio" name="payment_method" value="1" data-order_button_text="">
                    Kapıda Ödeme
                </label><br>
                <div class="direct-transfer-msg msg-box payment_box payment_method_kapida" style="display:none;">
                    Kapıda Ödeme İmkanı
                </div>
            </li>
            <li class="payment_method_cheque">
                <label id="cheque-transfer" for="payment_method_card">
                    <input disabled id="payment_method_card" type="radio" class="input-radio" name="payment_method" value="credit_card" data-order_button_text="">
                    Kredi Kartı
                </label><br>
                <div class="cheque-transfer-msg msg-box payment_box payment_method_card" style="display:none;">
                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                </div>
            </li>

        </ul>

        <div class="form-row place-order">
            <a class="blue-btn btn" href="{{url('/')}}">Anasayfa</a>
            <label class="green-btn btn">
                <input type="submit" class="button alt " name="woocommerce_checkout_place_order" id="place_order" value="Sipariş Tamamla" data-value="Sipariş Tamamla">
            </label>
        </div>
    </div>
</div>
</form>

        </div>
        </section>

<% include ../includes/footer.ejs %>