<% include ../includes/header.ejs %>
<% if(sesCart){ %>
<section id="shopping-cart" class="shopping-cart-wrap">
<div class="theme-container container">
    <div class="light-bg default-box-shadow">
        <form class="cart-form">
            <table class="product-table">
                <thead>
                <tr>
                    <th>resim</th>
                    <th>ürün</th>
                    <th>adet</th>
                    <th>fiyat</th>
                </tr>
                </thead>
                <tbody>
                <% var total = 0 %>
                <% sesCart.forEach(function(item) { %>
                <% total += item.price * item.quantity %>

                <tr id="<%= item.id %>">
                    <td class="image">
                        <div class="white-bg cart-img">
                            <a class="media-link" href="#"><img src="<%= item.img %>" alt="" style="max-height:150px !important"></a>
                        </div>
                    </td>
                    <td class="description">
                        <a href="#"><%= item.name %></a>
                        <p>Renk : Black</p>
                        <p>Beden : 2-4 Year</p>
                        <a href="/remove-from-cart/<%=item.id%>" class="remove pink-color"><i class="fa fa-times"></i> Kaldır </a>
                    </td>
                    <td class="quantity cart-item-quantity">
                        <div class="quantity buttons-add-minus">
                            <button type="button"  class="minus" onclick="calculate($(this))">-</button>
                            <input type="text" class="input-text qty text cart-quantity" title="Qty" value="<%=item.quantity %>" name="cart" >
                            <button type="button" class="plus" value="+" onclick="calculate($(this))">+</button>
                        </div>
                    </td>
                    <td class="total"> <strong> <span class="price"><%=item.price %></span> <%- siteSettings.settings_currency %>;</strong> </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
            <div class="continue-shopping">
                <div class="shp-btn">
                    <a class="blue-btn btn" href="/">Alışverişe Devam Et<i class="fa fa-caret-right"></i></a>
                </div>
                <div class="cart-sub-total">
                    <span>Genel Toplam:</span>
                    <strong class="pink-color" id="totalPrice"><%=total.toFixed(2) %></strong> <%- siteSettings.settings_currency %>
                </div>
            </div>
        </form>
        <div class="col-md-6 col-md-offset-3">
            <div class="chk-out">
                <a href="/checkout_update" id="toCheckout" class="pink-btn btn">Checkout</a>
            </div>
        </div>
    </div>

</div>
</section>
<script src="themes/bebefan/assets/js/shoppingcart.js"></script>
<% } %>
<% include ../includes/footer.ejs %>