<% include ../includes/header.ejs %>
<%pages = JSON.parse(pages); var pageContent;%>
<% pages.forEach(function(page){if(page.slug == slug){pageContent = page}})%>
<div class="gap gap-small"></div>
<div class="container">
    <h3><%=pageContent.name%></h3>
    <%- pageContent.content %>
</div>
<% include ../includes/footer.ejs %>
