<h1 class="page-title">Hesap Bilgileri Güncelle</h1>
<form action="/update_user" method="POST" class="form-delivery">
  <div class="shofy-form">
      <div class="input-field">
          <h3 class="out-label">Adınız</h3><input type="text" id="name" value="<%= customer.name %>" name="name" required>
      </div>
      <div class="input-field">
          <h3 class="out-label">Soyadınız</h3><input type="text" id="surname" value="<%= customer.surname %>" name="surname" required>
      </div>

      <div class="input-field">
          <h3 class="out-label">Telefon</h3><input type="text" id="mobil" value="<%= customer.mobil %>" name="mobil" required>
      </div>

      <div class="input-field">
          <h3 class="out-label">E-Posta</h3><input type="text" id="email" value="<%= customer.email %>" name="email" required>
        </div>
      <div class="input-field">
          <h3 class="out-label">Bildirim</h3>
          <p><input type="checkbox" id="test6" checked="checked" /><label for="test6">Bildirimler</label></p>
      </div>

  </div>
  <div class="input-field"><button type="submit" class="btn btn-block green"><i class="fa fa-save"></i> Kaydet</button></div>
</form>

<div class="input-field"><a href="/profil" class="btn btn-block info"><i class="fa fa-arrow-left"></i> Geri</a></div>
