<h1 class="page-title">Adres Düzenle</h1>
<form action="/update_address" method="POST" class="form-delivery" id="address_form">
  <div class="shofy-form">
      <div class="input-field">
          <h3 class="out-label">Adres Tipi</h3>
          <select class="selectpicker initialized" type="text" id="name"  name="name" required>
            <option value="Teslimat Adresi">Teslimat Adresi</option>
            <option value="Fatura Adresi">Fatura Adresi</option>
          </select>
      </div>
      <div class="input-field">
          <h3 class="out-label">Şehir</h3><input type="text" id="county"  name="county" required>
      </div>
      <div class="input-field">
          <h3 class="out-label">İlçe</h3><input type="text" id="district"  name="district" required>
      </div>
      <div class="input-field">
          <h3 class="out-label">Adres</h3><textarea type="text" id="address"  name="address" required></textarea>
      </div>

      <div class="input-field">
          <h3 class="out-label">Posta Kodu</h3><input type="number" id="zipcode"  name="zipcode" required>
      </div>

      <div class="input-field">
          <h3 class="out-label">Birincil Adres</h3>
          <p><input type="checkbox" id="test6" checked="checked" /><label for="test6">Birincil adres</label></p>
      </div>

  </div>
  <div class="input-field"><button type="submit" class="btn btn-block green"><i class="fa fa-save"></i> Güncelle</button></div>
</form>

<div class="input-field"><a href="/profil" class="btn btn-block info"><i class="fa fa-arrow-left"></i> Geri</a></div>
