<h1 class="page-title">Parola Güncelle</h1>
<form action="/update_password" method="POST" class="form-delivery">
  <div class="shofy-form">
      <div class="input-field">
          <h3 class="out-label">Yeni Parola</h3><input type="password" id="name" name="password" required>
      </div>
      <div class="input-field">
          <h3 class="out-label">Yeni Parola Tekrar</h3><input type="password" id="surname" name="password_confirm" required>
      </div>

  </div>
  <div class="input-field"><button type="submit" class="btn btn-block green"><i class="fa fa-save"></i> Güncelle</button></div>
</form>

<div class="input-field"><a href="/profil" class="btn btn-block info"><i class="fa fa-arrow-left"></i> Geri</a></div>
