<div class="col-md-12" id="profile_container">
    <div class="row">
        <div class="col-md-6">
            <form action="/update_user" method="post">
                <div class="form-group">
                    <label for="">Adınız</label>
                    <input type="text" value="<%= customer.name %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Soyadınız</label>
                    <input type="text" value="<%= customer.surname %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">E-posta</label>
                    <input type="text" value="<%= customer.email %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Telefon</label>
                    <input type="text" value="<%= customer.mobil %>" class="form-control">
                </div>
                <input type="submit" value="Güncelle" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="gap"></div>
</div>
