<% if(customer.address){
  customer.address.forEach(function(address){
  %>
<div id="edit-address-dialog_<%=address.id %>" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
      <form>
          <div class="form-group">
              <label>Şehir</label>
              <input value="" name="county" type="text" class="form-control" />
          </div>
          <div class="form-group">
              <label>İlçe</label>
              <input value="" name="district" type="text" class="form-control" />
          </div>
          <div class="form-group">
              <label>Adres</label>
              <input value="" name="address" type="text" class="form-control" />
          </div>
          <div class="form-group">
              <label>Posta Kodu</label>
              <input value="" name="zipcode" type="text" class="form-control" />
          </div>
          <div class="checkbox">
              <label>
                  <input name="type" type="checkbox" class="i-check" />Birincil Adres
              </label>
          </div>
          <input type="submit" class="btn btn-primary" value="Ekle" />
      </form>
  </div>
<% } ) } %>
  <div id="add-address-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
      <form>
          <div class="form-group">
              <label>Şehir</label>
              <input type="text" name="county" class="form-control" />
          </div>
          <div class="form-group">
              <label>İlçe</label>
              <input type="text" name="district" class="form-control" />
          </div>
          <div class="form-group">
              <label>Adres</label>
              <input type="text" name="address" class="form-control" />
          </div>
          <div class="form-group">
              <label>Posta Kodu</label>
              <input type="text" name="zipcode" class="form-control" />
          </div>
          <div class="checkbox">
              <label>
                  <input type="checkbox" checked class="i-check" />Birincil Adres
              </label>
          </div>
          <input type="submit" class="btn btn-primary" value="Add Address" />
      </form>
  </div>
  <div class="row row-wrap">
    <% if(customer.address){
      customer.address.forEach(function(address){
      %>
      <div class="col-md-4">
          <div class="address-box">
              <a class="address-box-remove" data-id="<%=address.id %>" href="/delete_address/<%=address.id%>" onclick="editAddress($(this))" data-toggle="tooltip" data-placement="right" title="Kaldır"></a>
              <a class="address-box-edit popup-text" href="#edit-address-dialog_<%=address.id %>" data-effect="mfp-move-from-top" data-toggle="tooltip" data-placement="right" title="Düzenle"></a>
              <ul>
                  <li>Tür : # <%= address.name %></li>
                  <li>Şehir : <%=address.county%></li>
                  <li>İlçe: <%=address.district%></li>
                  <li>Adres: <%= address.address %></li>
                  <li>Posta Kodu: <%= address.zipcode %></li>
              </ul>
              <div class="radio">
                  <label>
                    <% if(address.type == 1){ %>
                      <input type="radio" class="i-radio" name="primaryAddressOption" checked/>Birincil Adres
                    <% }else{ %>
                      <input type="radio" class="i-radio" name="primaryAddressOption" />Birincil Adres Yap
                      <% } %>
                  </label>
              </div>
          </div>
      </div>
    <% } ) } %>
      <div class="col-md-4">
          <a class="address-box address-box-new popup-text" href="#add-address-dialog" data-effect="mfp-move-from-top">
              <div class="vert-center"><i class="fa fa-plus address-box-new-icon"></i>
                  <p>Yeni Adres Ekle</p>
              </div>
          </a>
      </div>
  </div>
