
<div class="col-md-9">
    <table class="table table-order">
        <thead>
            <tr>
                <th>Item</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-order-img">
                    <a href="#">
                        <img src="img/amaze_70x70.jpg" alt="Image Alternative text" title="AMaze" />
                    </a>
                </td>
                <td><a href="#">New Glass Collection</a>
                </td>
                <td>2</td>
                <td>$279</td>
                <td>7/12/2014</td>
            </tr>

        </tbody>
    </table>
</div>
