<div class="col-md-9" id="profile_container">
    <div class="row">
        <div class="col-md-6">
            <form action="/update_password" method="post">
                <div class="form-group">
                    <label for="">Yeni Parola</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Parola Tekrar</label>
                    <input type="password" name="password_confirm" class="form-control">
                </div>
                <input type="submit" value="Güncelle" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="gap"></div>
</div>
