<% include ../includes/header.ejs %>
    <div id="mainContainer">
        <div class="s20"></div>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td valign="top">
                        <div class="leftBlocks" style="width:300px;">
                          <div id="myAccount">
                              <div class="myHead">
                                  <ul>
                                      <li class="m-active" id="tabs_1">
                                          <a href="">Hesabım</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="myBody">
                                  <div style="display:block;" id="contents_1">
                                      <div class="myList">
                                          <h1><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/account')">Üye Bilgilerim</a></h1>
                                          <p>Profilinizi buradan güncelleyebilirsiniz.</p>
                                      </div>
                                      <div class="myList">
                                          <h1><a href="sepet">Alışveriş Sepetim</a></h1>
                                          <p>Alışveriş sepetinizi görüntüleyebilirsiniz.</p>
                                      </div>
                                      <div class="myList">
                                          <h1><a  href="javascript:void(0)" onclick="$('#profile_container').load('profil/orders')">Siparişlerim</a></h1>
                                          <p>Sipariş detaylarınızı görebilirsiniz.</p>
                                      </div>

                                      <div class="myList">
                                          <h1><a href="javascript:void(0)">Favori Ürünlerim</a></h1>
                                          <p>İstek listenize eklediginiz ürünleri görebilir, sevdikleriniz ile paylaşabilirsiniz.</p>
                                      </div>
                                      <div class="myList">
                                          <h1><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/address')">Adres Defteri</a></h1>
                                          <p>Adres defterinizi buradan düzenleyebilirsiniz.</p>
                                      </div>
                                      <div class="myList">
                                          <h1><a href="javascript:void(0)" onclick="$('#profile_container').load('profil/password')">Parola Değiştir</a></h1>
                                          <p>Giriş parolanızı değiştirebilrisniz.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="contentSection" id="profile_container">


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="s30"></div>
    </div>
    <% include ../includes/footer.ejs %>
